
@charset "UTF-8";

*:focus {
    outline: 0;
}

.fullJoin{
    border: 1px solid black;
    width: 800px;
    height: 500px;
    align-items: center;
    margin-top: 200px;
}

.head{
    padding-left: 240px;
    background-color: #E3FFEC;
    height: 90px;
} 

.fullJoin>div>div{
    display: inline-block;
}

.thumbnail{

 
    width: 400px;
    height: 140px;

}

#timage{
    width: 60px;


}
#ttext{
    font-size: 50px;
}

.title{
    font-size: 20px;
    float: left;
    margin-left: 5%;
    margin-right: 2%;


}

#name { margin-left: 66px;}


.content{

    margin-left: 12%;
}


input{
    border: 3px solid #91c788;
    border-radius: 5px;
    height: 50px;
    width: 400px;
    position: relative;
    bottom: 14px;
    padding-left: 2%;
}

.pwdCheck, .pwdCheck2 {
    position: relative;
    left: 15%;
}

/* button{
    border-radius: 2px;
    background-color: green;
    text-align: center;
    font-size: 20px;
    width: 144px;
    height: 56px;
    color: white;
} */

#proof{
  position: relative;
  left: 17%;
}

.modal {
    height: 150px;
    top: 35%;
    left: 40%;
  }
  
  .titles {
    position: relative;
    margin: 0 auto;
    top: 15%;
    font-size: 20px;
  }
  
  .re-modal-btn {
    position: relative;
    top: 20%;
  }
  
  .btn {
    position: relative;
    top: 10px;
    background-color: white !important;
  }
  
  .contents {
    height: 150px;
    text-align: center;
    background-color: #91c788 !important;
  }
  
  .emailbtn > button {
  	width: 80px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #91c788 !important;
  }
  
  .pwdbtn > button {
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #91c788 !important;
  }
  