@charset "UTF-8";

.fullJoin {
  border: 1px solid #91c788;
  width: 930px;
  height: 1000px;
  align-items: center;
  margin-top: 200px;
}

.head {
  text-align: center;
  background-color: #e3ffec;
  height: 90px;
}

.fullJoin > div > div {
  display: inline-block;
}

.thumbnail {
  position: relative;
  bottom: 20%;
  width: 240px;
  height: 70px;
}

#timage {
  margin-top: 1%;
  width: 60px;
}
#ttext {
  font-size: 50px;
}

.title {
  font-size: 20px;
  width: 130px;
  text-align: left;
}

.content {
  position: relative;
  left: 15%;
  margin-right: 20px;
}

.content > input {
  border: 3px solid green;
  border-radius: 5px;
  height: 40px;
  width: 600px;
}

.onButton {
    border-radius: 0.5rem;
    font-size: 12px;
    border-color: #91c788;
    width: 80px;
    height: 30px;
    background-color: #91c788;
    color: white;
}

.modal {
  height: 150px;
  top: 80%;
  left: 40%;
}

.titles {
  position: relative;
  margin: 0 auto;
  top: 15%;
  font-size: 20px;
}

.re-modal-btn {
  position: relative;
  top: 20%;
}

.btn {
  position: relative;
  top: 40px;
  background-color: white !important;
}

.contents {
  height: 150px;
  text-align: center;
  background-color: #91c788 !important;
}
