@charset "UTF-8";

/* ============ 사이드 바 =============== */

.background {
  background-color: #e3ffec;
  width: 100%;
  height: 800px;
  z-index: -10;
  position: absolute;
}

/* .main {
  width: 100%;
  height: 500px;
  border: 1px solid black;
} */

/* ============== 메인 페이지 ======================= */
main {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 100px;
  margin-top: 0px;
  /* border: 1px solid red; */
  z-index: 9000;
}

body {
  font-family: "NanumSquareRoundR";
  overflow-x: hidden;
  margin: 0 0;
}
.main-logo {
  margin-top: 80px;
  width: 100%;
  height: 400px;
  /* border: 1px solid black; */
  overflow: hidden;
}

.main-logo1 {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  /* border: 1px solid black; */
  overflow: hidden;
}

.main-search {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  text-align: center;
  margin-bottom: 40px;
}

.main-searchbox {
  width: 30%;
  height: auto;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
}

.main-searchbox input {
  width: 80%;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  border: none;
  outline: none;
}

.main-searchbox button {
  width: 10%;
  height: 30px;
  border: none;
  background-color: #fff;
}
.main-searchbox img {
  width: 100%;
  height: 100%;
}

.main-search > div {
  position: relative;
  margin: 10px auto;
  width: 30%;
}

.main-search input[type="search"] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgb(200, 200, 200);
}
/* ========== 추천 클래스 강의 ================ */
.recommendclass {
  width: 100%;
  overflow: auto;
  text-align: center;
  margin: 0 auto;
  /* border: 1px solid black; */
}

/* .recommendclass button {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: none;
  margin: 0 20px;
} */

.btn-hover {
  width: 12%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #3dbe86,
    #3cba92,
    #30dd8a,
    #2bb673
  );
}

/* ========== 메인 로고 & 서치 박스 =========== */

.dash-board {
  width: 100%;
  overflow: auto;
  margin-bottom: 100px;
}
.intro-board {
  /* border: 1px solid black; */
  margin-top: 50px;
}

.intro-board h1 {
  font-weight: bold;
  padding-left: 20px;
}
.intro-board h4 {
  color: rgb(107, 107, 107);
  padding-left: 20px;
  margin-bottom: 30px;
}

.board {
  float: left;
  width: 20%;
  margin: auto 20px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.board div {
  width: 100%;
  height: auto;
  padding: 0px 5px;
  text-align: center;
  cursor: pointer;
}

.board img {
  width: 100%;
  height: 200px;
}

/* ==========일반 설정 ============ */

.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  /* margin-bottom: 60px; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  /* background-color: #777; */
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.classinstructor {
  color: rgb(107, 107, 107);
  font-size: 20px;
}
.classtitle {
  margin: 10px 0 0;
  height: 20px;
  font-size: 15px;
  /* font-weight: bold; */
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.classprice {
	
  margin-top : 5px;	
  font-size: 19px;
  color: rgb(58, 61, 211);
  font-weight: bold;
}
.views {
	background-color : rgb(255,204,255);
	padding : 0 10px 0 ;
	color : black;
	font-size: 13px; 
	border-radius : 20px;
}

.swiper-container {
  height: 400px;
  border-radius: 7px;
  
}
.swiper-slide {
  padding: 0 0;
  text-align: center;
  display: column; 
  align-items: center; /* 위아래 기준 중앙정렬 */
  justify-content: center; /* 좌우 기준 중앙정렬 */
  height: 40%;
  bottom: 0;
  cursor: pointer;
  /* width: ; */
  /* overflow: auto; */
}
.swiper-slide img {
  max-width: 100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}

.carousel-img {
  width: 90%;
  height: 100%;
  margin : 0 auto;
}

.carousel-img1 {
  width: 50%;
  height: 60%;
  margin: 0 auto;
}

.carousel-img img {
  width: 100%;
  height: 100%;
}
.carousel-img1 img {
  width: 100%;
  height: 100%;
}

.parallax-window {
  min-height: 1000px;
  background: transparent;
}
/* ************8 */

.photo {
  display: block;
}

.photo img {
  display: block;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
  margin-top: 0;
}

.applymentor {
  width: 100%;
  overflow: auto;
  background-color: #fafafa;
}
.applymentor-inner {
  width: 55%;
  margin: 0 auto;
  height: 450px;
  display: flex;
}

.applymentor-inner > div {
  /* float: left; */
  width: 50%;
  height: 100%;
}

.applymentor-inner-left {
  padding: 120px 40px 0 0;
  font-size: 22px;
  /* text-align: center; */
}

.applymentor-inner-left > button {
  font-size: 15px;
  border-radius: 10px;
  background-color: #91c788;
  border: none;
  padding: 10px 10px;
  /* color :white */
  margin-top: 20px;
}

.swiper-ljh {
  display: flex;
  justify-content: space-between;
  width: 100%;
  float: left;
  overflow: auto;
  padding: 10px 50px;
  /* border: 1px solid black; */
  margin-bottom: 30px;
  margin-top: 40px;
}

.swiper-button-ljh {
  display: flex;
}

.mainadvertisement {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: auto;
  background-color: #e3ffec;
  /* border: 1px solid black; */
}
.mainadvertisement > div {
  width: 50%;
  height: 100%;
  margin : 0 auto;
  padding: 15px 20px;
  /* border: 1px solid brown; */
}

.mainadvertisement-left {
}
.mainadvertisement-right button {
}

.test {
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;

}
