.introduce {
  width: 100%;
  margin: 0 auto;
  height: 70%;
}

.sidebar-content {
  width: 50%;
  overflow: auto;
  border: 1px solid pink;
}

.warn {
  width: 40%;
  margin: 50px auto 0;
  /* border: 1px solid blue; */
  height: auto;
}

.introduce-detail {
  width: 60%;
  margin-top: 20px;
  border: 1px solid red;
  height: 60%;
  text-align: center;
  padding: 0;
  
}

.introduce-detail1 {
  width: 48%;
  margin: 0 auto;
  /* border: 1px solid red; */
  height: 30%;
  text-align: left;
  padding: 0;
}

.introduce-detail img {
  width: 60%;
  height: 60%;
  margin : 0 auto;
}

.introduce-detail1 input {
  /* text-align: right; */
  border: none;
  outline: none;
  margin: 5px 5px;
  font-size: 18px;
}

.introduce-detail1 label {
  font-weight: bold;
  font-size: 20px;
}

 .common-sidebar {
  width: 70%;
  overflow: auto;
  margin: 0px auto 100px auto;
  /* border: 1px solid purple; */
}

.common-sidebar > div {
  display: inline-block;
  float: left;
}

#sidebar {
  display: block;
  position: relative;
  width: 20%;
  height: auto;
  margin-top: 150px;
  height: 800px;
  /* border: 1px solid blue; */
}

.sidebar-inner-name {
  width: 100%;
  height: auto;
  /* border: 1px solid skyblue; */
  text-align: center;
}

.sidebar-inner-name1 {
  width: 80%;
  margin: 0 auto;
  height: auto;
  /* border: 1px solid skyblue; */
  text-align: center;
}

.sidebar-inner-name1 > ul {
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
  font-size: 20px;
  color: #91c788;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.sidebar-inner-name1 li {
  font-size: 15px;
  color: #91c788;
  padding: 10px 0;
  text-decoration: none;
}

.sidebar-inner-name1 a {
  text-decoration: none;
  color: #000;
  padding-left: 15px;
}

.border-1px-black {
  border: 1px solid #91c788;
  border-radius: 200px;
}

.pro-img {
    margin-top: -53px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 72px;
    height: 72px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

.warningtable tbody {
      text-align: center;
    }

.warningtable thead {
      background-color: #E3FFEC;
      text-align: center;
    }

p {
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    }
