<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.matching.model.dao.MatchingMapper">


    <resultMap id="estimateList" type="EstimateDTO">
        <id column="ESTIMATE_CODE" property="estimateCode"/>
        <result column="CATEGORY_CODE" property="categoryCode"/>
        <result column="IS_MATCHED" property="isMatched"/>
        <result column="WRITE_DATE" property="writeDate"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENTS" property="contents"/>
        <result column="EMAIL" property="email"/>
        <result column="IS_DELETED" property="isDeleted"/>
    </resultMap>
    
    <resultMap id="categoryList" type="CategoryDTO">
    	<id column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="CATEGORY_NAME" property="categoryName"/>
    </resultMap>
    
    <insert id="registEstimate" parameterType="EstimateDTO">
        INSERT
		  INTO ESTIMATE_TBL
		(
		 ESTIMATE_CODE
 	 	,CATEGORY_CODE
		,IS_MATCHED
		,WRITE_DATE
		,TITLE
		,CONTENTS
		,EMAIL
		,IS_DELETED
		)
		VALUES
		(
		  SEQ_ESTIMATE_TBL.NEXTVAL
		, #{ categoryCode }
		, DEFAULT
		, SYSDATE
		, #{ title }
		, #{ contents }
		, 'yosm113@naver.com'
		, DEFAULT
		)
    </insert>
    
    <select id="selectCategory" resultMap="categoryList">
        SELECT
		       CATEGORY_CODE
		     , CATEGORY_NAME
		  FROM CATEGORY_TBL
    </select>
    
    <select id="selectEstimate" resultMap="estimateList" parameterType="hashMap">
        SELECT
		       ESTIMATE_CODE
		     , TITLE
		     , IS_MATCHED
		  FROM ESTIMATE_TBL
		 WHERE EMAIL = #{ email }
    </select>
    
    <select id="detailEstimate" resultMap="estimateList" parameterType="hashMap">
    	SELECT
		       ESTIMATE_CODE
		     , TITLE
		     , IS_MATCHED
		  FROM ESTIMATE_TBL
		 WHERE EMAIL = #{ email }
    </select>
    
    

</mapper>