<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.soomjd.soomjan.mypage.model.dao.MypageMapper">
	
	<resultMap id="memberResultSet" type="MemberDTO">
        <id column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PASSWORD" property="password"/>
        <result column="PHONE" property="phone"/>
        <result column="IS_JANDI" property="isJandi"/>
        <result column="WARNING" property="warning"/>
        <result column="IS_BLACK" property="isBlack"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="IS_EXIT" property="isExit"/>
        <result column="NAME" property="name"/>
    </resultMap>
	
	<select id="selectNewMember" resultMap="memberResultSet" parameterType="HashMap">
	    SELECT
		       A.EMAIL
			 , A.NICKNAME
			 , A.PASSWORD
			 , A.PHONE
			 , A.IS_JANDI
			 , A.WARNING
			 , A.IS_BLACK
			 , A.ENROLL_DATE
			 , A.IS_EXIT
			 , A.NAME
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
		   AND A.IS_EXIT = 'N'
	</select>

	<update id="modifyInfo" parameterType="HashMap">
    UPDATE 
	       SSACK_TBL A
	   SET A.NICKNAME = #{ nickName }
	     , A.PHONE = #{ phone }
	 WHERE A.EMAIL = #{ email }
	</update>
	
	



</mapper>