<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.soomjd.soomjan.mypage.model.dao.MypageMapper">
	
	<resultMap id="memberResultSet" type="MemberDTO">
        <id column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PASSWORD" property="password"/>
        <result column="PHONE" property="phone"/>
        <result column="IS_JANDI" property="isJandi"/>
        <result column="WARNING" property="warning"/>
        <result column="IS_BLACK" property="isBlack"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="IS_EXIT" property="isExit"/>
        <result column="NAME" property="name"/>
    </resultMap>
    
    <resultMap id="ReportMemberSet" type="ReportMemberDTO">
        <id column="REP_CODE" property="repCode"/>
        <result column="EMAIL" property="email"/>
        <result column="CONTENTS" property="contents"/>
        <result column="REP_DATE" property="repDate"/>
        <result column="IMG_PATH" property="imgPath"/>
        <result column="REP_EMAIL" property="repEmail"/>
        <result column="REP_TYPE_CODE" property="repTypeCode"/>
        <result column="ORG_IMG_PATH" property="orgImgPath"/>
        <result column="REP_YN" property="repYn"/>
        <result column="REP_TYPE" property="repType"/>
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.classRoom.model.dto.ClassDTO" id="classResultMap">
    	<id column="CLASS_CODE" property="classCode"/>
    	<result column="CREATE_DATE" property="createDate"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="TAG" property="tag"/>
    	<result column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="EMAIL" property="email"/>
    	<result column="BOARD_TYPE" property="boardType"/>
    	<result column="VIEWS" property="views"/>
    	<result column="MAX_COUNT" property="maxCount"/>
    	<result column="TITLE" property="title"/>
    	<result column="PRICE" property="price"/>
    	<result column="NICKNAME" property="nickName" />
    </resultMap>
    
    <resultMap id="categoryList" type="CategoryDTO">
    	<id column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="CATEGORY_NAME" property="categoryName"/>
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.jandi.model.dto.JandiDTO" id="jandiResultMap">
    	<id column="EMAIL" property="email"/>
    	<result column="NICKNAME" property="nickName"/>
    	<result column="CAREER" property="career"/>
    	<result column="INTRO" property="intro"/>
    	<result column="PROFILE_PATH" property="profile_path"/>
    	<result column="ENROLL_DATE" property="enroll_date"/>
    	<result column="ACCOUNT" property="account"/>
    	<result column="BANK" property="bank"/>
    	<result column="ACC_NAME" property="acc_name"/>
    </resultMap>
    
    <resultMap id="paymentResultSet" type="PaymentDTO">
        <id column="PAY_CODE" property="payCode"/>
        <result column="PAY" property="pay"/>
        <result column="BANK" property="bank"/>
        <result column="OWNER" property="owner"/>
        <result column="ACCOUNT" property="account"/>
        <result column="PAY_DATE" property="payDate"/>
        <result column="PAY_TYPE" property="payType"/>
    </resultMap>
    
    <resultMap id="purchaseClassSet" type="PurchaseClassDTO">
        <id column="CLASS_PURC_CODE" property="classPurcCode"/>
        <result column="EMAIL" property="email"/>
        <result column="CLASS_CODE" property="classCode"/>
        <result column="STATUS" property="status"/>
        <result column="PAY_CODE" property="payCode"/>
        <result column="END_DATE" property="endDate"/>
        <result column="TEACHER" property="teacher"/>
        
        <association property="classDTO" resultMap="classResultMap"></association>
        <association property="categoryDTO" resultMap="categoryList"></association>
        <association property="jandiDTO" resultMap="jandiResultMap"></association>
        <association property="paymentDTO" resultMap="paymentResultSet"></association>
        <association property="reviewDTO" resultMap="reviewResultSet"></association>
    </resultMap>
    
    <resultMap id="reviewResultSet" type="ReviewDTO">
    	<id column="REVIEW_CODE" property="rvCode"/>
    	<result column="WRITE_DATE" property="writeDate"/>
    	<result column="STAR" property="star"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="IS_DELETED" property="isDelete"/>
    	<result column="CLASS_CODE" property="classCode"/>
    	<result column="EMAIL" property="email"/>
    	
<!--     	<association property="classDTO" resultMap="classResultMap"></association>
        <association property="categoryDTO" resultMap="categoryList"></association>
        <association property="jandiDTO" resultMap="jandiResultMap"></association>
        <association property="paymentDTO" resultMap="paymentResultSet"></association>
        <association property="purchaseClassDTO" resultMap="purchaseClassSet"></association> -->
   	</resultMap>
   	
    <resultMap id="JjimResultSet" type="JjimDTO">
        <result column="CLASS_CODE" property="classCode"/>
        <result column="TITLE" property="title"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="IS_DELETED" property="isDeleted"/>
    </resultMap>
    
    <resultMap id="buyResultSet" type="BuyDTO">
        <result column="CLASS_CODE" property="classCode"/>
        <result column="TITLE" property="title"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PAY_DATE" property="payDate"/>
        <result column="PAY" property="pay"/>
        <result column="IS_DELETED" property="isDeleted"/>
    </resultMap>
    
    <resultMap id="reportClassResultSet" type="ReportClassDTO">
        <id column="REP_CODE" property="repCode"/>
        <result column="EMAIL" property="email"/>
        <result column="REP_CONTENTS" property="repContents"/>
        <result column="CLASS_CODE" property="classCode"/>
        <result column="REP_DATE" property="repDate"/>
        <result column="REP_TYPE_CODE" property="repTypeCode"/>
        <result column="REP_YN" property="repYn"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="NICKNAME" property="nickName" />
        <result column="WARNING" property="warning"/>
        
        <association property="classDTO" resultMap="classResultMap"></association>
        <association property="reportStatementDTO" resultMap="reportStatementResultSet"></association>
    </resultMap>
    
    <resultMap id="reportStatementResultSet" type="ReportStatementDTO">
    	<id column="REP_TYPE_CODE" property="repTypeCode"/>
    	<result column="REP_TYPE" property="repType"/>
    </resultMap>
	
	<select id="selectNewMember" resultMap="memberResultSet" parameterType="HashMap">
	    SELECT
		       A.EMAIL
			 , A.NICKNAME
			 , A.PASSWORD
			 , A.PHONE
			 , A.IS_JANDI
			 , A.WARNING
			 , A.IS_BLACK
			 , A.ENROLL_DATE
			 , A.IS_EXIT
			 , A.NAME
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
		   AND A.IS_EXIT = 'N'
	</select>

	<update id="modifyInfo" parameterType="HashMap">
	    UPDATE 
		       SSACK_TBL A
		   SET A.NICKNAME = #{ nickName }
		     , A.PHONE = #{ phone }
		 WHERE A.EMAIL = #{ email }
	</update>
	
	<select id="selectEncPassword" resultType="java.lang.String" parameterType="HashMap">
	    SELECT
		       A.PASSWORD
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
		   AND IS_EXIT = 'N'
	</select>
	
	<update id="modifyPwd" parameterType="HashMap">
	    UPDATE SSACK_TBL A
		   SET A.PASSWORD = #{ setPwd }
		 WHERE A.EMAIL = #{ email }
	</update>
	
	<update id="memberExit" parameterType="HashMap">
	    UPDATE SSACK_TBL A
		   SET A.IS_EXIT = 'Y'
		 WHERE A.EMAIL = #{ email }
	</update>
	
	<select id="selectReportMember" resultMap="ReportMemberSet" parameterType="HashMap">
	    SELECT 
		       *
		  FROM REPORT_MEMBER_TBL A
		  JOIN REPORT_STATEMENT_TBL B ON(A.REP_TYPE_CODE = B.REP_TYPE_CODE)
		 WHERE A.REP_EMAIL = #{ email }
		   AND A.REP_YN = 'Y'
	</select>
	
	<select id="selectReportClass" resultMap="reportClassResultSet" parameterType="HashMap">
		SELECT
		       R.REP_CODE
		     , R.REP_DATE
		     , R.CLASS_CODE
		     , R.REP_YN
		     , C.EMAIL
		     , C.TITLE
		     , S.REP_TYPE
		     , M.WARNING
		  FROM REPORT_CLASS_TBL R
		  JOIN CLASS_TBL C ON(C.CLASS_CODE = R.CLASS_CODE)
		  JOIN REPORT_STATEMENT_TBL S ON(S.REP_TYPE_CODE = R.REP_TYPE_CODE)
		  JOIN SSACK_TBL M ON(M.EMAIL = C.EMAIL)
		 WHERE C.EMAIL = #{ email }
		   AND R.REP_YN = 'Y'
	</select>
	
	<select id="selectClassTotalCount" resultType="_int" parameterType="HashMap">
		SELECT
			   COUNT(*)
		  FROM REPORT_CLASS_TBL R
		  JOIN CLASS_TBL C ON(C.CLASS_CODE = R.CLASS_CODE)
		  JOIN REPORT_STATEMENT_TBL S ON(S.REP_TYPE_CODE = R.REP_TYPE_CODE)
		  JOIN SSACK_TBL M ON(M.EMAIL = C.EMAIL)
		 WHERE C.EMAIL = #{ email }
		   AND R.REP_YN = 'Y'
	</select>
	
	<select id="selectMemberTotalCount" resultType="_int" parameterType="HashMap">
		SELECT 
		       COUNT(*)
		  FROM REPORT_MEMBER_TBL A
		  JOIN REPORT_STATEMENT_TBL B ON(A.REP_TYPE_CODE = B.REP_TYPE_CODE)
		 WHERE A.REP_EMAIL = #{ email }
		   AND A.REP_YN = 'Y'
	</select>
	
	<select id="selectTakingClass" resultMap="purchaseClassSet" parameterType="HashMap">
	
	    SELECT V2.RNUM
		     , V2.*
		  FROM (SELECT ROWNUM RNUM
		                    , V.*
		          FROM (SELECT A.END_DATE
		                     , A.PAY_CODE
				             , B.TITLE
				             , B.CLASS_CODE
		                     , C.CATEGORY_NAME
		                     , D.NICKNAME
		                     , E.PAY_DATE
				          FROM PURCHASE_CLASS_TBL A
				          JOIN CLASS_TBL B ON (A.CLASS_CODE = B.CLASS_CODE)
						  JOIN CATEGORY_TBL C ON (B.CATEGORY_CODE = C.CATEGORY_CODE)
						  JOIN JANDI_TBL D ON (B.EMAIL = D.EMAIL)
				          JOIN PAYMENT_TBL E ON (A.PAY_CODE = E.PAY_CODE)
				          <where>
				           A.EMAIL = #{ email }
						   AND A.STATUS = 'Y'
						   <if test='searchCondition == "1"'>
						       AND C.CATEGORY_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'    
						   </if>
						   <if test='searchCondition == "2"'>
						       AND B.TITLE LIKE '%' || #{ selectCriteria.searchValue } || '%'
						   </if>
						   <if test='searchCondition == "3"'>
						       AND D.NICKNAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
						   </if>
				          </where>
				         ORDER BY A.END_DATE DESC
		               )V
		       )V2
         WHERE V2.RNUM BETWEEN #{ selectCriteria.startRow } AND #{ selectCriteria.endRow }
         
     </select>
	
	<select id="selectTakingTotalCount" resultType="_int" parameterType="HashMap">
	    SELECT
		       COUNT(*)
		  FROM PURCHASE_CLASS_TBL A
		  JOIN CLASS_TBL B ON (A.CLASS_CODE = B.CLASS_CODE)
		  JOIN CATEGORY_TBL C ON (B.CATEGORY_CODE = C.CATEGORY_CODE)
		  JOIN JANDI_TBL D ON (B.EMAIL = D.EMAIL)
		   
		   <where>
		   A.EMAIL = #{ email }
		   AND A.STATUS = 'Y'
		   <if test='searchCondition == "1"'>
		       AND C.CATEGORY_NAME LIKE '%' || #{ searchValue } || '%'    
		   </if>
		   <if test='searchCondition == "2"'>
		       AND B.TITLE LIKE '%' || #{ searchValue } || '%'
		   </if>
		   <if test='searchCondition == "3"'>
		       AND D.NICKNAME LIKE '%' || #{ searchValue } || '%'
		   </if>
		   </where>
	</select>

	<select id="selectFinishTotalCount" resultType="_int" parameterType="HashMap">
		SELECT
		       COUNT(*)
		  FROM PURCHASE_CLASS_TBL A
     LEFT JOIN CLASS_REVIEW_TBL T ON(A.CLASS_PURC_CODE = T.CLASS_PURC_CODE)
		  JOIN CLASS_TBL L ON (L.CLASS_CODE = A.CLASS_CODE )
		  JOIN CATEGORY_TBL C ON (C.CATEGORY_CODE = L.CATEGORY_CODE)
		  JOIN JANDI_TBL J ON (L.EMAIL = J.EMAIL )
		  JOIN PAYMENT_TBL E ON (A.PAY_CODE = E.PAY_CODE)
		 <where>
			   A.STATUS = 'N'
			   AND A.EMAIL = #{ email }
			<if test="searchCondition == 1">
			   AND C.CATEGORY_NAME LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test='searchCondition == 2'>
			   AND L.TITLE LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test='searchCondition == 3'>
		       AND J.NICKNAME LIKE '%' || #{ searchValue } || '%'
		   </if>
		</where>
	</select>

	<select id="finishClass" resultMap="purchaseClassSet" parameterType="hashmap">
		SELECT
		       F.RNUM
		     , F.EMAIL
		     , F.CLASS_CODE
		     , F.STATUS
		     , F.PAY_CODE
		     , F.CLASS_PURC_CODE
		     , F.END_DATE
		     , F.CATEGORY_NAME
		     , F.TITLE
		     , F.NICKNAME
		     , F.PAY_DATE
		     , F.REVIEW_CODE
		     , F.IS_DELETED
		  FROM (SELECT ROWNUM RNUM
		  			, D.EMAIL
		  			, D.CLASS_CODE
		  			, D.STATUS
		  			, D.PAY_CODE
		  			, D.CLASS_PURC_CODE
		  			, D.END_DATE
		  			, D.CATEGORY_NAME
		  			, D.TITLE
		  			, D.NICKNAME
		  			, D.PAY_DATE
		  			, D.REVIEW_CODE
		  			, D.IS_DELETED
		  	      FROM (SELECT
		  	      			  A.EMAIL
		  	      			, A.CLASS_CODE
		  	      			, A.STATUS
		  	      			, A.PAY_CODE
		  	      			, A.CLASS_PURC_CODE
		  	      			, A.END_DATE
		  	      			, C.CATEGORY_NAME
		  	      			, L.TITLE
		  	      			, J.NICKNAME
		  	      			, E.PAY_DATE
		  	      			, T.REVIEW_CODE
		  	      			, T.IS_DELETED
		  	      		  FROM PURCHASE_CLASS_TBL A
		  	         LEFT JOIN CLASS_REVIEW_TBL T ON(A.CLASS_PURC_CODE = T.CLASS_PURC_CODE)
		  	      		  JOIN CLASS_TBL L ON (L.CLASS_CODE = A.CLASS_CODE )
		  	      		  JOIN CATEGORY_TBL C ON (C.CATEGORY_CODE = L.CATEGORY_CODE)
		  	      		  JOIN JANDI_TBL J ON (L.EMAIL = J.EMAIL )
		  	      		  JOIN PAYMENT_TBL E ON (A.PAY_CODE = E.PAY_CODE)
		  	      		  <where>
							   A.STATUS = 'N'
							   AND A.EMAIL = #{ email }
							<if test="selectCriteria.searchCondition == 1">
							   AND C.CATEGORY_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
							</if>
							<if test="selectCriteria.searchCondition == 2">
							   AND L.TITLE LIKE '%' || #{ selectCriteria.searchValue } || '%'
							</if>
							<if test="selectCriteria.searchCondition == 3">
						       AND J.NICKNAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
						   </if>
						</where>
		  	               ORDER BY A.END_DATE DESC	
		  	             ) D
		  	   	<![CDATA[
	        	WHERE ROWNUM <= #{ selectCriteria.endRow } 
	        	]]>	
		  	    ) F
		  	    WHERE F.RNUM >= #{ selectCriteria.startRow }	
	</select>
	
	<select id="selectReviewClass" resultMap="purchaseClassSet" parameterType="HashMap">
		SELECT
		       C.EMAIL
		     , C.END_DATE
		     , L.TITLE
		     , P.PAY_DATE
		     , J.NICKNAME
		     , T.CATEGORY_NAME
		  JOIN CLASS_TBL L ON (L.CLASS_CODE = C.CLASS_CODE )
		  JOIN PAYMENT_TBL E ON (C.PAY_CODE = E.PAY_CODE)
		  JOIN JANDI_TBL J ON ( L.EMAIL = J.EMAIL )
		  JOIN CATEGORY_TBL T ON (T.CATEGORY_CODE = L.CATEGORY_CODE)
		 WHERE C.EMAIL = #{ email }
	</select>
	
	<insert id="insertReviewContent" parameterType="HashMap">
		INSERT INTO CLASS_REVIEW_TBL
		(
			REVIEW_CODE
		  , WRITE_DATE
		  , STAR
		  , CONTENTS
		  , IS_DELETED
		  , CLASS_CODE
		  , EMAIL
		  , CLASS_PURC_CODE
		)
		VALUES
		(
			SEQ_CLASS_REVIEW_TBL.NEXTVAL
		  , SYSDATE
		  , #{ reviewStar }
		  , #{ contents }
		  , 'N'
		  , #{ classCode }
		  , #{ email }
		  , #{ classPurcCode }
		)
	</insert>
	
	<select id="selectJjimTotalCount" resultType="_int" parameterType="HashMap">
	    SELECT
		       COUNT(*)
		  FROM LIKED_CLASS_TBL A
		  JOIN CLASS_TBL B ON (A.CLASS_CODE = B.CLASS_CODE)
		  JOIN CATEGORY_TBL C ON (B.CATEGORY_CODE = C.CATEGORY_CODE)
		  JOIN JANDI_TBL D ON (B.EMAIL = D.EMAIL)
		  
		   <where>
		   A.EMAIL = #{ email }
		   <if test='searchCondition == "1"'>
		       AND C.CATEGORY_NAME LIKE '%' || #{ searchValue } || '%'    
		   </if>
		   <if test='searchCondition == "2"'>
		       AND B.TITLE LIKE '%' || #{ searchValue } || '%'
		   </if>
		   <if test='searchCondition == "3"'>
		       AND D.NICKNAME LIKE '%' || #{ searchValue } || '%'
		   </if>
		   </where>
	</select>
	
	<select id="selectJjimClass" resultMap="JjimResultSet" parameterType="HashMap">
	    SELECT V2.RNUM
             , V2.*
		  FROM (SELECT ROWNUM RNUM
		              , V.*
				  FROM (SELECT A.CLASS_CODE
						     , B.TITLE
						     , B.FILE_PATH
						     , C.CATEGORY_NAME
						     , B.IS_DELETED
						     , D.NICKNAME
						  FROM LIKED_CLASS_TBL A
						  JOIN CLASS_TBL B ON (A.CLASS_CODE = B.CLASS_CODE)
						  JOIN CATEGORY_TBL C ON (B.CATEGORY_CODE = C.CATEGORY_CODE)
						  JOIN JANDI_TBL D ON (B.EMAIL = D.EMAIL)
						  <where>
				           A.EMAIL = #{ email }
						   <if test='searchCondition == "1"'>
						       AND C.CATEGORY_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'    
						   </if>
						   <if test='searchCondition == "2"'>
						       AND B.TITLE LIKE '%' || #{ selectCriteria.searchValue } || '%'
						   </if>
						   <if test='searchCondition == "3"'>
						       AND D.NICKNAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
						   </if>
				          </where>
				       )V
			   )V2
		WHERE V2.RNUM BETWEEN #{ selectCriteria.startRow } AND #{ selectCriteria.endRow }
	</select>
	
	<delete id="jjimCancel" parameterType="HashMap">
        DELETE
          FROM LIKED_CLASS_TBL A
         WHERE A.EMAIL = #{ email }
           AND A.CLASS_CODE IN
          
          <foreach collection="classNoList" item="noList" open="(" separator=", " close=")">
          #{ noList }
          </foreach>
	</delete>
	
	<select id="selectBuyTotalCount" resultType="_int" parameterType="HashMap">
	    SELECT 
		       COUNT(*)
		  FROM PURCHASE_CLASS_TBL A
		  JOIN CLASS_TBL B ON (A.CLASS_CODE = B.CLASS_CODE)
		  JOIN JANDI_TBL C ON (B.EMAIL = C.EMAIL)
		  
		  <where>
		   A.EMAIL = #{ email }
		   <if test='searchCondition == "1"'>
		       AND B.TITLE LIKE '%' || #{ searchValue } || '%'    
		   </if>
		   <if test='searchCondition == "2"'>
		       AND C.NICKNAME LIKE '%' || #{ searchValue } || '%'    
		   </if>
		   </where>
	</select>
	
	<select id="selectBuyList" resultMap="buyResultSet" parameterType="HashMap">
	    SELECT V2.RNUM
		     , V2.*
		  FROM ( SELECT ROWNUM RNUM
		              , V.*
		           FROM ( SELECT A.CLASS_CODE
		                       , B.TITLE
						       , B.FILE_PATH
						       , B.IS_DELETED
						       , C.NICKNAME
						       , D.PAY_DATE 
						       , D.PAY 
						    FROM PURCHASE_CLASS_TBL A
					    	JOIN CLASS_TBL B ON(A.CLASS_CODE = B.CLASS_CODE)
						    JOIN JANDI_TBL C ON(B.EMAIL = C.EMAIL)
						    JOIN PAYMENT_TBL D ON(A.PAY_CODE = D.PAY_CODE)
						    <where>
						    A.EMAIL = #{ email }
						    <if test='searchCondition == "1"'>
						        AND B.TITLE LIKE '%' || #{ searchValue } || '%'    
						    </if>
						    <if test='searchCondition == "2"'>
						       AND C.NICKNAME LIKE '%' || #{ searchValue } || '%'    
						   </if>
						   <if test='sort == "D"'>
						   ORDER BY D.PAY_DATE ASC
						   </if>
						   <if test='sort == "P"'>
						   ORDER BY D.PAY DESC
						   </if>
						   <if test='sort == null or sort == "DA"'>
						   ORDER BY D.PAY_DATE DESC
						   </if>
						   <if test='sort == "PA"'>
						   ORDER BY D.PAY ASC
						   </if>
						    </where>
		                )V
		       )V2
		 WHERE V2.RNUM BETWEEN #{ selectCriteria.startRow } AND #{ selectCriteria.endRow }
	</select>
	
	<select id="selectReviewTotalCount" resultType="_int" parameterType="HashMap">
		SELECT
		       COUNT(*)
		  FROM CLASS_REVIEW_TBL
		 WHERE EMAIL = #{ email }
		   AND IS_DELETED = 'N'
	</select>
	
	<select id="selectReviewList" resultType="hashmap">
		SELECT
		       F.RNUM
		     , F.EMAIL
		     , F.REVIEW_CODE
		     , F.WRITE_DATE
		     , F.STAR
		     , F.CONTENTS
		     , F.IS_DELETED
		     , F.CLASS_CODE
		  	 , F.CATEGORY_NAME
		  	 , F.TITLE
		  	 , F.NICKNAME
		  	 , F.ORG_FILE_PATH
		 FROM (SELECT ROWNUM RNUM
		            , D.EMAIL
		            , D.REVIEW_CODE
		            , D.WRITE_DATE
		            , D.STAR
		            , D.CONTENTS
		            , D.IS_DELETED
		            , D.CLASS_CODE
		  	      	, D.CATEGORY_NAME
		  	      	, D.TITLE
		  	      	, D.NICKNAME
		  	      	, D.ORG_FILE_PATH
		        FROM (SELECT
		                     R.EMAIL
		                   , R.REVIEW_CODE
		                   , R.WRITE_DATE
		                   , R.STAR
		                   , R.CONTENTS
		                   , R.IS_DELETED
		                   , R.CLASS_CODE
		  	      		   , C.CATEGORY_NAME
		  	      		   , L.TITLE
		  	      		   , J.NICKNAME
		  	      		   , L.ORG_FILE_PATH
		                FROM CLASS_REVIEW_TBL R
		  	      		JOIN CLASS_TBL L ON (L.CLASS_CODE = R.CLASS_CODE )
		  	      		JOIN CATEGORY_TBL C ON (C.CATEGORY_CODE = L.CATEGORY_CODE)
		  	      		JOIN JANDI_TBL J ON (L.EMAIL = J.EMAIL )
		               WHERE R.EMAIL = #{ email }
		                 AND R.IS_DELETED = 'N'
		               ORDER BY R.WRITE_DATE DESC	
		  	             ) D
		  	   	<![CDATA[
	        	WHERE ROWNUM <= #{ selectCriteria.endRow } 
	        	]]>	
		  	    ) F
		  	    WHERE F.RNUM >= #{ selectCriteria.startRow }   
	</select>
	
<!-- 	<update id="endClass" parameterType="purchaseClassSet">
	
	
	</update> -->
	
	<update id="deleteReview">
		UPDATE CLASS_REVIEW_TBL
		   SET IS_DELETED = NULL
		     , REVIEW_CODE = NULL
		 WHERE REVIEW_CODE = #{ rvCode }
	</update>
	
    <update id="endClass" parameterType="PurchaseClassDTO">
	    UPDATE PURCHASE_CLASS_TBL A 
	       SET A.STATUS = 'N'
		 WHERE A.PAY_CODE IN 
		   <foreach collection="list" item="endClassList" open="(" separator=", " close=")">
         	 #{ endClassList.payCode }
          </foreach>
	</update>


	    <insert id="registJandi" parameterType="com.soomjd.soomjan.jandi.model.dto.JandiDTO">
    	INSERT INTO 
    		   JANDI_TBL J
   		   (
   		   		  J.EMAIL
   		   		, J.NICKNAME
   		   		, J.CAREER
   		   		, J.INTRO
   		   		, J.ENROLL_DATE
   		   		, J.ACCOUNT
   		   		, J.BANK
   		   		, J.ACC_NAME
		  	)
		  	VALUES(
		  		  #{ email }
		  		, #{ nickName }
		  		, #{ career }
		  		, #{ intro }
		  		, SYSDATE
		  		, #{ account }
		  		, #{ bank }
		  		, #{ acc_name }
		  	)
    </insert>
    
    <update id="modifyIsJandi">
    	UPDATE SSACK_TBL SS
    	   SET SS.IS_JANDI = 'Y'
    	 WHERE SS.EMAIL = #{ email }
    </update>
</mapper>