<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.manager.model.dao.ManagerMapper">
    
     <resultMap id="ssackResultSet" type="MemberDTO">
        <id column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PASSWORD" property="password"/>
        <result column="PHONE" property="phone"/>
        <result column="IS_JANDI" property="isJandi"/>
        <result column="WARNING" property="warning"/>
        <result column="IS_BLACK" property="isBlack"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="IS_EXIT" property="isExit"/>
        <result column="NAME" property="name"/>
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.jandi.model.dto.JandiDTO" id="jandiResultSet">
    	<id column="EMAIL" property="email"/>
    	<result column="NICKNAME" property="nickName"/>
    	<result column="CAREER" property="career"/>
    	<result column="INTRO" property="intro"/>
    	<result column="PROFILE_PATH" property="profile_path"/>
    	<result column="ENROLL_DATE" property="enroll_date"/>
    	<result column="ACCOUNT" property="account"/>
    	<result column="BANK" property="bank"/>
    	<result column="ACC_NAME" property="acc_name"/>
    </resultMap>
    
    <resultMap id="managerResultSet" type="ManagerDTO">
    	<id column="MNG_NO" property="mngNo"/>
    	<result column="MNG_ID" property="mngId"/>
    	<result column="PASSWORD" property="password"/>
    	<result column="MNG_NAME" property="mngName"/>
    	<result column="CREATE_DATE" property="createDate"/>
    	<result column="IS_DELETED" property="isDeleted"/>
    	<result column="MNG_NICKNAME" property="mngNickName"/>
    </resultMap>
    
    <resultMap id="categoryResult" type="CategoryDTO">
    	<id column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="CATEGORY_NAME" property="categoryName"/>
    </resultMap>
    
    <resultMap id="faqResult" type="FaqDTO">
    	<id column="POST_CODE" property="postCode"/>
    	<result column="TITLE" property="title"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="WRITE_DATE" property="writeDate"/>
    	<result column="IS_DELETED" property="isDeleted"/>
    	<result column="MNG_NO" property="mngNo"/>
    </resultMap>
    
  <!--  <select id="selectMember" resultMap="memberResultSet" parameterType="ssackDTO">
        SELECT
		       A.EMAIL
			 , A.NICKNAME
			 , A.PASSWORD
			 , A.PHONE
			 , A.IS_JANDI
			 , A.WARNING
			 , A.IS_BLACK
			 , A.ENROLL_DATE
			 , A.IS_EXIT
			 , A.NAME
		  FROM SSACK_TBL A
    </select> -->

	<!-- 매니저 로그인 비밀번호 확인 -->
	<select id="selectEncPassword" resultType="java.lang.String" parameterType="ManagerDTO">
        SELECT
		       A.PASSWORD
		  FROM MANAGER_TBL A
		 WHERE A.MNG_ID = #{ mngId }
		   AND IS_DELETED = 'N'
    </select>
    
    <select id="selectManager" resultMap="managerResultSet" parameterType="ManagerDTO">
        SELECT
		       A.MNG_NO
			 , A.MNG_ID
			 , A.PASSWORD
			 , A.MNG_NAME
			 , A.CREATE_DATE
			 , A.IS_DELETED
			 , A.MNG_NICKNAME
		    FROM MANAGER_TBL A
		 WHERE A.MNG_ID = #{ mngId }
		   AND IS_DELETED = 'N'
    </select>
    
    <select id="allManager" resultMap="managerResultSet" parameterType="ManagerDTO">
    
     SELECT
		       A.MNG_NO
			 , A.MNG_ID
			 , A.PASSWORD
			 , A.MNG_NAME
			 , A.CREATE_DATE
			 , A.IS_DELETED
			 , A.MNG_NICKNAME
		    FROM MANAGER_TBL A
		 WHERE IS_DELETED = 'N'
    </select>
    
    <select id="ssackMember" resultMap="ssackResultSet">

		SELECT
		       F.RNUM
		     , F.EMAIL
		     , F.NICKNAME
		     , F.PASSWORD
		     , F.PHONE
		     , F.IS_JANDI
		     , F.WARNING
		     , F.IS_BLACK
		     , F.ENROLL_DATE
		     , F.IS_EXIT
		     , F.NAME
		 FROM (SELECT ROWNUM RNUM
		 	        , D.EMAIL
		 	        , D.NICKNAME
		 	        , D.PASSWORD
		 	        , D.PHONE
		 	        , D.IS_JANDI
		 	        , D.WARNING
		 	        , D.IS_BLACK
		 	        , D.ENROLL_DATE
		 	        , D.IS_EXIT
		 	        , D.NAME
		 	     FROM (SELECT
		 	     		      A.EMAIL
		 	     		    , A.NICKNAME
		 	     		    , A.PASSWORD
		 	     		    , A.PHONE
		 	     		    , A.IS_JANDI
		 	     		    , A.WARNING
		 	     		    , A.IS_BLACK
		 	     		    , A.ENROLL_DATE
		 	     		    , A.IS_EXIT
		 	     		    , A.NAME
		 	     		 FROM SSACK_TBL A
		 	     		 <where>
		 	     		 	<if test='searchCondition == "1"'>
		 	     		 		A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "2"'>
		 	     		 		A.EMAIL LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "3"'>
		 	     		 		A.IS_BLACK LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 </where>
		 	     	 ORDER BY A.ENROLL_DATE DESC
		 	    	  ) D
		 	    <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
	        	) F
     			WHERE F.RNUM >= #{ startRow }	  	 
	</select>
	
	<select id="jandiMember" resultMap="jandiResultSet">
				SELECT
		       F.RNUM
		     , F.NICKNAME
		     , F.CAREER
		     , F.INTRO
		     , F.PROFILE_PATH
		     , F.ENROLL_DATE
		     , F.ACCOUNT
		     , F.BANK
		     , F.ACC_NAME
		 FROM (SELECT ROWNUM RNUM
		 	        , D.NICKNAME
		 	        , D.CAREER
		 	        , D.INTRO
		 	        , D.PROFILE_PATH
		 	        , D.ENROLL_DATE
		 	        , D.ACCOUNT
		 	        , D.BANK
		 	        , D.ACC_NAME
		 	     FROM (SELECT
		 	     		      A.NICKNAME
		 	     		    , A.CAREER
		 	     		    , A.INTRO
		 	     		    , A.PROFILE_PATH
		 	     		    , A.ENROLL_DATE
		 	     		    , A.ACCOUNT
		 	     		    , A.BANK
		 	     		    , A.ACC_NAME
		 	     		 FROM JANDI_TBL A
		 	     		 <where>
		 	     		 	<if test='searchCondition == "1"'>
		 	     		 		A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "2"'>
		 	     		 		A.WARNING LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "3"'>
		 	     		 		A.IS_BLACK LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 </where>
		 	     	 ORDER BY A.ENROLL_DATE DESC
		 	    	  ) D
		 	    <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
	        	) F
     			WHERE F.RNUM >= #{ startRow }
    </select>
    
     <select id="managerMember" resultMap="managerResultSet" parameterType="ManagerDTO">
    
     SELECT
		       A.MNG_NO
			 , A.MNG_ID
			 , A.PASSWORD
			 , A.MNG_NAME
			 , A.CREATE_DATE
			 , A.IS_DELETED
			 , A.MNG_NICKNAME
		    FROM MANAGER_TBL A
    </select>

	<select id="selectTotalCount" resultType="_int" parameterType="hashMap">
		SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		  
		   <where>
		 	 <if test='searchCondition == "1"'>
		 	   A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "2"'>
		 	   A.WARNING LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "3"'>
		 	   A.IS_BLACK LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		  </where>
	</select>
	
	<insert id="registMsMember" parameterType="ManagerDTO">
		INSERT
		  INTO MANAGER_TBL
		(
		  MNG_NO
		, MNG_ID
		, PASSWORD
		, MNG_NAME
		, CREATE_DATE
		, IS_DELETED
		, MNG_NICKNAME
		)
		VALUES
		(
		  SEQ_MANAGER_TBL.NEXTVAL
		, #{ mngId }
		, #{ password }
		, #{ mngName }
		, SYSDATE
		, 'N'
		, #{ mngNickName }
		)
	</insert>
	
	<select id="emailCheck" resultType="_int" parameterType="HashMap">
		SELECT
		       COUNT(*)
		  FROM MANAGER_TBL
		 WHERE MNG_ID = #{ email }
	</select>
	
	<select id="nickNameCheck" resultType="_int" parameterType="HashMap">
		SELECT
		       COUNT(*)
		  FROM MANAGER_TBL
		 WHERE MNG_NICKNAME = #{ nickName }
	</select>
	
	<!-- 카테고리 조회 -->
	<select id="selectCategory" resultMap="categoryResult">
		SELECT * FROM CATEGORY_TBL ORDER BY CATEGORY_CODE
	</select>
	
	<!-- 카테고리 추가 -->
	<insert id="modifycategory" parameterType="CategoryDTO">
	INSERT
	  INTO CATEGORY_TBL
	  (
	  	CATEGORY_CODE, CATEGORY_NAME
	  )
	VALUES
	( #{categoryCode}, #{categoryName} )
	</insert>
	
	<select id="checkCategory" resultMap="categoryResult">
	SELECT * FROM CATEGORY_TBL WHERE CATEGORY_CODE = ${ categoryCode }
	</select>
	
	<update id="changeCategoryName">
		update CATEGORY_TBL SET CATEGORY_NAME = #{categoryName} WHERE CATEGORY_CODE = #{categoryCode}
	</update> 
	
	<insert id="addnotice" parameterType="FaqDTO">
	INSERT INTO FAQ_TBL (POST_CODE, TITLE, CONTENTS, WRITE_DATE, IS_DELETED, MNG_NO)
		   VALUES (SEQ_FAQ_TBL.NEXTVAL, #{title}, #{contents}, SYSDATE, 'N', 1)		
	
	</insert>
	
	<select id="selectnotice" resultMap="faqResult">
		SELECT
       C.RNUM
     , C.POST_CODE
     , C.TITLE
     , C.CONTENTS
     , C.WRITE_DATE
     , C.IS_DELETED
     , C.MNG_NO
  FROM (SELECT ROWNUM RNUM   
             , B.POST_CODE
             , B.TITLE
             , B.CONTENTS
             , B.WRITE_DATE
             , B.IS_DELETED
             , B.MNG_NO
          FROM (SELECT  
               A.POST_CODE
             , A.TITLE
             , A.CONTENTS
             , A.WRITE_DATE
             , A.IS_DELETED
             , A.MNG_NO
             FROM FAQ_TBL A
              <where>
	 	 <if test='searchCondition == "title"'>
	 	  A.TITLE LIKE '%' || #{ searchValue } || '%'
	 	 </if>
	  </where>
              ORDER BY A.POST_CODE DESC
              ) B
               <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
              ) C
              WHERE C.RNUM >= #{ startRow }	  
	</select>
	
	<select id="selectTotalCount2" resultType="_int" parameterType="hashMap">
		SELECT
		       COUNT(*)
		  FROM JANDI_TBL A
		  
		   <where>
		 	 <if test='searchCondition == "1"'>
		 	   A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "2"'>
		 	   A.WARNING LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "3"'>
		 	   A.IS_BLACK LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		  </where>
	</select>
	
	<select id="noticeDetail" resultMap="faqResult">
	 SELECT * FROM FAQ_TBL WHERE POST_CODE = #{postCode}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="modifyContents">
		update FAQ_TBL SET CONTENTS = #{contents} WHERE POST_CODE = #{postCode}
	</update> 
	
	<!-- faq조회 페이징 처리 -->
	<select id="selectFaqTotalCount" resultType="_int" parameterType="hashMap">
	SELECT
	       COUNT(*)
	  FROM FAQ_TBL
	  
	   <where>
	 	 <if test='searchCondition == "title"'>
	 	   TITLE LIKE '%' || #{ searchValue } || '%'
	 	 </if>
	  </where>
	</select>
	<update id="inactivemanager" parameterType="arraylist">
		UPDATE MANAGER_TBL
		   SET IS_DELETED = 'Y'
		 WHERE MNG_NO IN (
        <foreach collection="str" item="item" index="index" separator=",">
            ${item}
        </foreach>
    )
	</update>
</mapper>