<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.manager.model.dao.ManagerMapper">
    
     <resultMap id="ssackResultSet" type="MemberDTO">
        <id column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PASSWORD" property="password"/>
        <result column="PHONE" property="phone"/>
        <result column="IS_JANDI" property="isJandi"/>
        <result column="WARNING" property="warning"/>
        <result column="IS_BLACK" property="isBlack"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="IS_EXIT" property="isExit"/>
        <result column="NAME" property="name"/>
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.jandi.model.dto.JandiDTO" id="jandiResultSet">
    	<id column="EMAIL" property="email"/>
    	<result column="NICKNAME" property="nickName"/>
    	<result column="CAREER" property="career"/>
    	<result column="INTRO" property="intro"/>
    	<result column="PROFILE_PATH" property="profile_path"/>
    	<result column="ENROLL_DATE" property="enroll_date"/>
    	<result column="ACCOUNT" property="account"/>
    	<result column="BANK" property="bank"/>
    	<result column="ACC_NAME" property="acc_name"/>
    </resultMap>
    
    <resultMap id="managerResultSet" type="ManagerDTO">
    	<id column="MNG_NO" property="mngNo"/>
    	<result column="MNG_ID" property="mngId"/>
    	<result column="PASSWORD" property="password"/>
    	<result column="MNG_NAME" property="mngName"/>
    	<result column="CREATE_DATE" property="createDate"/>
    	<result column="IS_DELETED" property="isDeleted"/>
    	<result column="MNG_NICKNAME" property="mngNickName"/>
    </resultMap>
    
    <resultMap id="categoryResult" type="CategoryDTO">
    	<id column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="CATEGORY_NAME" property="categoryName"/>
    </resultMap>
    
    <resultMap id="faqResult" type="FaqDTO">
    	<id column="POST_CODE" property="postCode"/>
    	<result column="TITLE" property="title"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="WRITE_DATE" property="writeDate"/>
    	<result column="IS_DELETED" property="isDeleted"/>
    	<result column="MNG_NO" property="mngNo"/>
    </resultMap>
    
      <resultMap type="com.soomjd.soomjan.classRoom.model.dto.ClassDTO" id="classResultMap">
    	<id column="CLASS_CODE" property="classCode"/>
    	<result column="CREATE_DATE" property="createDate"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="TAG" property="tag"/>
    	<result column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="EMAIL" property="email"/>
    	<result column="BOARD_TYPE" property="boardType"/>
    	<result column="VIEWS" property="views"/>
    	<result column="MAX_COUNT" property="maxCount"/>
    	<result column="TITLE" property="title"/>
    	<result column="PRICE" property="price"/>
    	<result column="NICKNAME" property="nickName" />
    </resultMap>
    
    <resultMap id="paymentResultSet" type="PaymentDTO">
        <id column="PAY_CODE" property="payCode"/>
        <result column="PAY" property="pay"/>
        <result column="BANK" property="bank"/>
        <result column="OWNER" property="owner"/>
        <result column="ACCOUNT" property="account"/>
        <result column="PAY_DATE" property="payDate"/>
        <result column="PAY_TYPE" property="payType"/>
    </resultMap>
    
      <resultMap id="purchaseClassSet" type="PurchaseClassDTO">
        <id column="CLASS_PURC_CODE" property="classPurcCode"/>
        <result column="EMAIL" property="email"/>
        <result column="CLASS_CODE" property="classCode"/>
        <result column="STATUS" property="status"/>
        <result column="PAY_CODE" property="payCode"/>
        <result column="END_DATE" property="endDate"/>
        <result column="TEACHER" property="teacher"/>
        
        <association property="classDTO" resultMap="classResultMap"></association>
        <association property="paymentDTO" resultMap="paymentResultSet"></association>
    </resultMap>
    
    <resultMap id="reportMemberResultSet" type="ReportMemberDTO">
        <id column="REP_CODE" property="repCode"/>
        <result column="EMAIL" property="email"/>
        <result column="CONTENTS" property="contents"/>
        <result column="REP_DATE" property="repDate"/>
        <result column="REP_EMAIL" property="repEmail"/>
        <result column="REP_TYPE_CODE" property="repTypeCode"/>
        <result column="ORG_IMG_PATH" property="orgImgPath"/>
        <result column="REP_YN" property="repYn"/>
        
        <association property="reportStatementDTO" resultMap="reportStatementResultSet"></association>
    </resultMap>
    
    <resultMap id="reportStatementResultSet" type="ReportStatementDTO">
    	<id column="REP_TYPE_CODE" property="repTypeCode"/>
    	<result column="REP_TYPE" property="repType"/>
    </resultMap>
    
    <resultMap id="reportClassResultSet" type="ReportClassDTO">
        <id column="REP_CODE" property="repCode"/>
        <result column="EMAIL" property="email"/>
        <result column="REP_CONTENTS" property="repContents"/>
        <result column="CLASS_CODE" property="classCode"/>
        <result column="REP_DATE" property="repDate"/>
        <result column="REP_TYPE_CODE" property="repTypeCode"/>
        <result column="REP_YN" property="repYn"/>
        
        <association property="reportStatementDTO" resultMap="reportStatementResultSet"></association>
    </resultMap>
    
  <!--  <select id="selectMember" resultMap="memberResultSet" parameterType="ssackDTO">
        SELECT
		       A.EMAIL
			 , A.NICKNAME
			 , A.PASSWORD
			 , A.PHONE
			 , A.IS_JANDI
			 , A.WARNING
			 , A.IS_BLACK
			 , A.ENROLL_DATE
			 , A.IS_EXIT
			 , A.NAME
		  FROM SSACK_TBL A
    </select> -->

	<!-- 매니저 로그인 비밀번호 확인 -->
	<select id="selectEncPassword" resultType="java.lang.String" parameterType="ManagerDTO">
        SELECT
		       A.PASSWORD
		  FROM MANAGER_TBL A
		 WHERE A.MNG_ID = #{ mngId }
		   AND IS_DELETED = 'N'
    </select>
    
    <select id="selectManager" resultMap="managerResultSet" parameterType="ManagerDTO">
        SELECT
		       A.MNG_NO
			 , A.MNG_ID
			 , A.PASSWORD
			 , A.MNG_NAME
			 , A.CREATE_DATE
			 , A.IS_DELETED
			 , A.MNG_NICKNAME
		    FROM MANAGER_TBL A
		 WHERE A.MNG_ID = #{ mngId }
		   AND IS_DELETED = 'N'
    </select>
    
    <select id="allManager" resultMap="managerResultSet" parameterType="ManagerDTO">
    
     SELECT
		       A.MNG_NO
			 , A.MNG_ID
			 , A.PASSWORD
			 , A.MNG_NAME
			 , A.CREATE_DATE
			 , A.IS_DELETED
			 , A.MNG_NICKNAME
		    FROM MANAGER_TBL A
		 WHERE IS_DELETED = 'N'
    </select>
    
    <select id="ssackMember" resultMap="ssackResultSet">

		SELECT
		       F.RNUM
		     , F.EMAIL
		     , F.NICKNAME
		     , F.PASSWORD
		     , F.PHONE
		     , F.IS_JANDI
		     , F.WARNING
		     , F.IS_BLACK
		     , F.ENROLL_DATE
		     , F.IS_EXIT
		     , F.NAME
		 FROM (SELECT ROWNUM RNUM
		 	        , D.EMAIL
		 	        , D.NICKNAME
		 	        , D.PASSWORD
		 	        , D.PHONE
		 	        , D.IS_JANDI
		 	        , D.WARNING
		 	        , D.IS_BLACK
		 	        , D.ENROLL_DATE
		 	        , D.IS_EXIT
		 	        , D.NAME
		 	     FROM (SELECT
		 	     		      A.EMAIL
		 	     		    , A.NICKNAME
		 	     		    , A.PASSWORD
		 	     		    , A.PHONE
		 	     		    , A.IS_JANDI
		 	     		    , A.WARNING
		 	     		    , A.IS_BLACK
		 	     		    , A.ENROLL_DATE
		 	     		    , A.IS_EXIT
		 	     		    , A.NAME
		 	     		 FROM SSACK_TBL A
		 	     		 <where>
		 	     		 	<if test='searchCondition == "1"'>
		 	     		 		A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "2"'>
		 	     		 		AND A.EMAIL LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "3"'>
		 	     		 		AND A.NAME LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 </where>
		 	     	 ORDER BY A.ENROLL_DATE DESC
		 	    	  ) D
		 	    <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
	        	) F
     			WHERE F.RNUM >= #{ startRow }	  	 
	</select>
	
	<select id="jandiMember" resultMap="jandiResultSet">
				SELECT
		       F.RNUM
		     , F.NICKNAME
		     , F.CAREER
		     , F.INTRO
		     , F.PROFILE_PATH
		     , F.ENROLL_DATE
		     , F.ACCOUNT
		     , F.BANK
		     , F.ACC_NAME
		     , F.EMAIL
		 FROM (SELECT ROWNUM RNUM
		 	        , D.NICKNAME
		 	        , D.CAREER
		 	        , D.INTRO
		 	        , D.PROFILE_PATH
		 	        , D.ENROLL_DATE
		 	        , D.ACCOUNT
		 	        , D.BANK
		 	        , D.ACC_NAME
		 	        , D.EMAIL
		 	     FROM (SELECT
		 	     		      A.NICKNAME
		 	     		    , A.CAREER
		 	     		    , A.INTRO
		 	     		    , A.PROFILE_PATH
		 	     		    , A.ENROLL_DATE
		 	     		    , A.ACCOUNT
		 	     		    , A.BANK
		 	     		    , A.ACC_NAME
		 	     		    , A.EMAIL
		 	     		 FROM JANDI_TBL A
		 	     		 <where>
		 	     		 	<if test='searchCondition == "1"'>
		 	     		 		A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "2"'>
		 	     		 		AND A.WARNING LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test='searchCondition == "3"'>
		 	     		 		AND A.ACC_NAME LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 </where>
		 	     	 ORDER BY A.ENROLL_DATE DESC
		 	    	  ) D
		 	    <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
	        	) F
     			WHERE F.RNUM >= #{ startRow }
    </select>
    
     <select id="managerMember" resultMap="managerResultSet" parameterType="ManagerDTO">
    
     SELECT
		       A.MNG_NO
			 , A.MNG_ID
			 , A.PASSWORD
			 , A.MNG_NAME
			 , A.CREATE_DATE
			 , A.IS_DELETED
			 , A.MNG_NICKNAME
		    FROM MANAGER_TBL A
    </select>

	<select id="selectTotalCount" resultType="_int" parameterType="hashMap">
		SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		  
		   <where>
		 	 <if test='searchCondition == "1"'>
		 	   A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "2"'>
		 	   AND A.WARNING LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "3"'>
		 	   AND A.IS_BLACK LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		  </where>
	</select>
	
	<insert id="registMsMember" parameterType="ManagerDTO">
		INSERT
		  INTO MANAGER_TBL
		(
		  MNG_NO
		, MNG_ID
		, PASSWORD
		, MNG_NAME
		, CREATE_DATE
		, IS_DELETED
		, MNG_NICKNAME
		)
		VALUES
		(
		  SEQ_MANAGER_TBL.NEXTVAL
		, #{ mngId }
		, #{ password }
		, #{ mngName }
		, SYSDATE
		, 'N'
		, #{ mngNickName }
		)
	</insert>
	
	<select id="emailCheck" resultType="_int" parameterType="HashMap">
		SELECT
		       COUNT(*)
		  FROM MANAGER_TBL
		 WHERE MNG_ID = #{ email }
	</select>
	
	<select id="nickNameCheck" resultType="_int" parameterType="HashMap">
		SELECT
		       COUNT(*)
		  FROM MANAGER_TBL
		 WHERE MNG_NICKNAME = #{ nickName }
	</select>
	
	<!-- 카테고리 조회 -->
	<select id="selectCategory" resultMap="categoryResult">
		SELECT * FROM CATEGORY_TBL ORDER BY CATEGORY_CODE
	</select>
	
	<!-- 카테고리 추가 -->
	<insert id="modifycategory" parameterType="CategoryDTO">
	INSERT
	  INTO CATEGORY_TBL
	  (
	  	CATEGORY_CODE, CATEGORY_NAME
	  )
	VALUES
	( #{categoryCode}, #{categoryName} )
	</insert>
	
	<select id="checkCategory" resultMap="categoryResult">
	SELECT * FROM CATEGORY_TBL WHERE CATEGORY_CODE = ${ categoryCode }
	</select>
	
	<update id="changeCategoryName">
		update CATEGORY_TBL SET CATEGORY_NAME = #{categoryName} WHERE CATEGORY_CODE = #{categoryCode}
	</update> 
	
	<insert id="addnotice" parameterType="FaqDTO">
	INSERT INTO FAQ_TBL (POST_CODE, TITLE, CONTENTS, WRITE_DATE, IS_DELETED, MNG_NO)
		   VALUES (SEQ_FAQ_TBL.NEXTVAL, #{title}, #{contents}, SYSDATE, 'N', 1)		
	
	</insert>
	
	<select id="selectnotice" resultMap="faqResult">
		SELECT
       C.RNUM
     , C.POST_CODE
     , C.TITLE
     , C.CONTENTS
     , C.WRITE_DATE
     , C.IS_DELETED
     , C.MNG_NO
  FROM (SELECT ROWNUM RNUM   
             , B.POST_CODE
             , B.TITLE
             , B.CONTENTS
             , B.WRITE_DATE
             , B.IS_DELETED
             , B.MNG_NO
          FROM (SELECT  
               A.POST_CODE
             , A.TITLE
             , A.CONTENTS
             , A.WRITE_DATE
             , A.IS_DELETED
             , A.MNG_NO
             FROM FAQ_TBL A
              <where>
	 	 <if test='searchCondition == "title"'>
	 	  A.TITLE LIKE '%' || #{ searchValue } || '%'
	 	 </if>
	  </where>
              ORDER BY A.POST_CODE DESC
              ) B
               <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
              ) C
              WHERE C.RNUM >= #{ startRow }	  
	</select>
	
	<select id="selectTotalCount2" resultType="_int" parameterType="hashMap">
		SELECT
		       COUNT(*)
		  FROM JANDI_TBL A
		  
		   <where>
		 	 <if test='searchCondition == "1"'>
		 	   A.NICKNAME LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "2"'>
		 	   AND A.WARNING LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		 	 <if test='searchCondition == "3"'>
		 	   AND A.IS_BLACK LIKE '%' || #{ searchValue } || '%'
		 	 </if>
		  </where>
	</select>
	
	<select id="noticeDetail" resultMap="faqResult">
	 SELECT * FROM FAQ_TBL WHERE POST_CODE = #{postCode}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="modifyContents">
		update FAQ_TBL SET CONTENTS = #{contents} WHERE POST_CODE = #{postCode}
	</update> 
	
	<!-- faq조회 페이징 처리 -->
	<select id="selectFaqTotalCount" resultType="_int" parameterType="hashMap">
	SELECT
	       COUNT(*)
	  FROM FAQ_TBL
	  
	   <where>
	 	 <if test='searchCondition == "title"'>
	 	   TITLE LIKE '%' || #{ searchValue } || '%'
	 	 </if>
	  </where>
	</select>
	
	<update id="inactivemanager" parameterType="java.util.ArrayList">
		UPDATE MANAGER_TBL
		   SET IS_DELETED = 'Y'
		 WHERE MNG_NO IN (
        <foreach collection="list" item="item" index="index" separator=",">
           #{ item }
        </foreach>
   		 )
	</update>
	
	
	<select id="allContent" resultMap="purchaseClassSet">
		 SELECT *
		  FROM (SELECT *
				  FROM (SELECT * 
           				   FROM PAYMENT_TBL P
          				   JOIN purchase_class_tbl PC ON (PC.PAY_CODE = P.PAY_CODE)
          				   JOIN CLASS_TBL CT ON (PC.CLASS_CODE = CT.CLASS_CODE)))
	
	</select>
	
	 <select id="selectPurchaseClass" resultMap="purchaseClassSet" parameterType="HashMap">
	 
	  SELECT V2.RNUM
             , V2.*
		  FROM (SELECT ROWNUM RNUM
		              , V.*
				  FROM (SELECT * 
           				   FROM PAYMENT_TBL P
          				   JOIN purchase_class_tbl PC ON (PC.PAY_CODE = P.PAY_CODE)
          				   JOIN CLASS_TBL CT ON (PC.CLASS_CODE = CT.CLASS_CODE)
          				   <where>
          				   <if test='(startDate != "" and startDate != null) and searchCondition != null'>
						    		 P.PAY_DATE BETWEEN TO_DATE('${startDate}', 'YY-MM-DD') 
						       	          AND TO_DATE('${endDate}', 'YY-MM-DD')+1
						       	      <if test='searchCondition == "1"'>
									 	    AND PC.EMAIL LIKE '%' || #{ searchValue } || '%'
									 </if>
									 <if test='searchCondition == "2"'>
									 	   AND CT.TITLE LIKE '%' || #{ searchValue } || '%'
									 </if>
						     	 </if>
						     	 
						     	 <if test='(startDate != "" and startDate != null) and searchCondition == null'>
						    		 P.PAY_DATE BETWEEN TO_DATE('${startDate}', 'YY-MM-DD') 
						       	          AND TO_DATE('${endDate}', 'YY-MM-DD')+1
						     	 </if>
						     	 
						     	 <if test='(startDate =="" or startDate == null) and searchCondition != null'>
						    		<if test='searchCondition == "1"'>
									 	   PC.EMAIL LIKE '%' || #{ searchValue } || '%'
									 </if>
									 <if test='searchCondition == "2"'>
									 	   CT.TITLE LIKE '%' || #{ searchValue } || '%'
									 </if>
						     	 </if>
						     	 
						     	 <if test='(startDate =="" or startDate == null) and searchCondition == null'>
						     	 </if>
						     	 </where>
	 						ORDER BY CLASS_PURC_CODE DESC )V)V2
	 						WHERE V2.RNUM BETWEEN ${ startRow } AND ${ endRow }
	</select>
	
	<select id="PurchaseClassTotalCount" resultType="_int" parameterType="hashMap">
		SELECT 
		       COUNT(*)
          FROM (SELECT ROWNUM RNUM
		             , V.* 
           	 	  FROM (SELECT * 
           				   FROM PAYMENT_TBL P
          				   JOIN purchase_class_tbl PC ON (PC.PAY_CODE = P.PAY_CODE)
          				   JOIN CLASS_TBL CT ON (PC.CLASS_CODE = CT.CLASS_CODE)
						     <where> 
						    	 <if test='(startDate != "" and startDate != null) and searchCondition != null'>
						    		 P.PAY_DATE BETWEEN TO_DATE('${startDate}', 'YY-MM-DD') 
						       	          AND TO_DATE('${endDate}', 'YY-MM-DD')+1
						       	      <if test='searchCondition == "1"'>
									 	    AND PC.EMAIL LIKE '%' || #{ searchValue } || '%'
									 </if>
									 <if test='searchCondition == "2"'>
									 	   AND CT.TITLE LIKE '%' || #{ searchValue } || '%'
									 </if>
						     	 </if>
						     	 
						     	 <if test='(startDate != "" and startDate != null) and searchCondition == null'>
						    		 P.PAY_DATE BETWEEN TO_DATE('${startDate}', 'YY-MM-DD') 
						       	          AND TO_DATE('${endDate}', 'YY-MM-DD')+1
						     	 </if>
						     	 
						     	 <if test='(startDate =="" or startDate == null) and searchCondition != null'>
						    		<if test='searchCondition == "1"'>
									 	   PC.EMAIL LIKE '%' || #{ searchValue } || '%'
									 </if>
									 <if test='searchCondition == "2"'>
									 	   CT.TITLE LIKE '%' || #{ searchValue } || '%'
									 </if>
						     	 </if>
						     	 
						     	 <if test='(startDate =="" or startDate == null) and searchCondition == null'>
						     	 </if>
						     	
						     </where>)V)V2
	
	</select>
	
	<select id="selectReportSsackTotalCount" resultType="_int" parameterType="hashMap">
		SELECT
		       COUNT(*)
		  FROM REPORT_MEMBER_TBL R
         <where>
  		 	<if test="searchCondition == 1">
  		 		R.REP_EMAIL LIKE '%' || #{ searchValue } || '%'
  		 	</if>
  		 	<if test="searchCondition == 2">
  		 		AND R.CONTENTS LIKE '%' || #{ searchValue } || '%'
  		 	</if>
  		 	<if test="searchCondition == 3">
  		 		AND R.REP_YN LIKE '%' || #{ searchValue } || '%'
  		 	</if>
  		 </where>
	</select>
	
	<select id="selectReportMemberList" resultMap="reportMemberResultSet">
		SELECT
		       F.RNUM
		     , F.REP_CODE
		     , F.EMAIL
		     , F.CONTENTS
		     , F.REP_DATE
		     , F.REP_EMAIL
		     , F.REP_TYPE_CODE
		     , F.ORG_IMG_PATH
		     , F.REP_YN
		     , F.REP_TYPE
		  FROM (SELECT ROWNUM RNUM 
		             , D.REP_CODE
		             , D.EMAIL
		             , D.CONTENTS
		             , D.REP_DATE
		             , D.REP_EMAIL
		             , D.REP_TYPE_CODE
		             , D.ORG_IMG_PATH
		             , D.REP_YN
		             , D.REP_TYPE
		          FROM (SELECT
		                       R.REP_CODE
		                     , R.EMAIL
		                     , R.CONTENTS
		                     , R.REP_DATE
		                     , R.REP_EMAIL
		                     , R.REP_TYPE_CODE
		                     , R.ORG_IMG_PATH
		                     , R.REP_YN
		                     , S.REP_TYPE
		                  FROM REPORT_MEMBER_TBL R
		                  JOIN REPORT_STATEMENT_TBL S ON(S.REP_TYPE_CODE = R.REP_TYPE_CODE)
		                  <where>
		 	     		 	<if test="searchCondition == 1">
		 	     		 		R.REP_EMAIL LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test="searchCondition == 2">
		 	     		 		AND R.CONTENTS LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test="searchCondition == 3">
		 	     		 		AND R.REP_YN LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 </where>
		 	     	 ORDER BY R.REP_DATE DESC
		 	    	  ) D
		 	    <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
	        	) F
     			WHERE F.RNUM >= #{ startRow }
	</select>
	
		<select id="selectReportClassTotalCount" resultType="_int" parameterType="hashMap">
		SELECT
		       COUNT(*)
		  FROM REPORT_CLASS_TBL R
		  
          <where>
  		 	<if test="searchCondition == 1">
  		 		R.REP_EMAIL LIKE '%' || #{ searchValue } || '%'
  		 	</if>
  		 	<if test="searchCondition == 2">
  		 		AND R.REP_CONTENTS LIKE '%' || #{ searchValue } || '%'
  		 	</if>
  		 	<if test="searchCondition == 3">
  		 		AND R.REP_YN LIKE '%' || #{ searchValue } || '%'
  		 	</if>
  		 </where>
	</select>
	
		<select id="selectReportClassList" resultMap="reportClassResultSet">
		SELECT
		       F.RNUM
		     , F.REP_CODE
		     , F.EMAIL
		     , F.REP_CONTENTS
		     , F.CLASS_CODE
		     , F.REP_DATE
		     , F.REP_TYPE_CODE
		     , F.REP_YN
		     , F.REP_TYPE
		  FROM (SELECT ROWNUM RNUM 
		             , D.REP_CODE
		             , D.EMAIL
		             , D.REP_CONTENTS
		             , D.CLASS_CODE
		             , D.REP_DATE
		             , D.REP_TYPE_CODE
		             , D.REP_YN
		             , D.REP_TYPE
		          FROM (SELECT
		                       R.REP_CODE
		                     , R.EMAIL
		                     , R.REP_CONTENTS
		                     , R.CLASS_CODE
		                     , R.REP_DATE
		                     , R.REP_TYPE_CODE
		                     , R.REP_YN
		                     , S.REP_TYPE
		                  FROM REPORT_CLASS_TBL R
		                  JOIN REPORT_STATEMENT_TBL S ON(S.REP_TYPE_CODE = R.REP_TYPE_CODE)
		                  <where>
		 	     		 	<if test="searchCondition == 1">
		 	     		 		R.REP_EMAIL LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test="searchCondition == 2">
		 	     		 		AND R.REP_CONTENTS LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 	<if test="searchCondition == 3">
		 	     		 		AND R.REP_YN LIKE '%' || #{ searchValue } || '%'
		 	     		 	</if>
		 	     		 </where>
		 	     	 ORDER BY R.REP_DATE DESC
		 	    	  ) D
		 	    <![CDATA[
	        	WHERE ROWNUM <= #{ endRow } 
	        	]]>	
	        	) F
     			WHERE F.RNUM >= #{ startRow }	
	</select>
	
	<select id="selectRepMemberList" resultMap="reportMemberResultSet">
		SELECT
		       R.EMAIL
		     , R.REP_CODE
		     , R.CONTENTS
		     , R.REP_DATE
		     , R.REP_EMAIL
		     , R.REP_TYPE_CODE
		     , R.ORG_IMG_PATH
		     , R.REP_YN
		     , S.REP_TYPE
		  FROM REPORT_MEMBER_TBL R
		  JOIN REPORT_STATEMENT_TBL S ON(S.REP_TYPE_CODE = R.REP_TYPE_CODE)
		 WHERE R.REP_CODE = #{ repCode }
	</select>
	
</mapper>