.main-content {
  width: 70%;
  height: 1000px;
}

#category {
  color: #91c788;
}

.warningtable tbody {
  text-align: center;
}

.warningtable thead {
  background-color: #e3ffec;
  text-align: center;
}

.introduce-detail img {
  width: 60%;
  height: 60%;
  text-align: center;
}

p {
  font-weight: bold;
  font-size: 20px;
}

.manager-paging {
  width: 40%;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  position: relative;
  top: 20px;
  /* border: 1px solid blue; */
}

.manager-paging ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

/* .manager-paging li {
  float: left;
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #91c788;
  border-radius: 400px;
  text-decoration: none;
} */

.manager-search {
  width: 65%;
  margin: 0 auto;
  /* overflow: hidden; */
  height: 50px;
  /* border: 1px solid blue; */
}

.menti-search {
 /* width: 50%; */
  /* border: 1px solid blue; */
}

.input-search {
  width: 100%;
  position: relative;
  left: 18%;
  top: 10px;
}

.manager-searchbox {
  /* width: 70%;
  margin: 0 auto;
  height: 100%;
  border: 1px solid rgb(200, 200, 200); */
}
.manager-searchbox input {
  width: 90%;
  border: none;
}

.manager-searchbox button {
  width: 20px;
  height: 100%;
  border: none;
}

.manager-searchbox img {
  width: 100%;
  height: 100%;
}

.date-search {
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 12px;
  border-color: #91c788;
  width: 8%;
  height: 25px;
  background-color: #91c788;
}

.calculate {
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 12px;
  border-color: #91c788;
  width: 8%;
  height: 25px;
  background-color: #91c788;
  float: right;
}

.create {
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 12px;
  border-color: #91c788;
  width: 10%;
  height: 30px;
  position: relative;
  left: 85%;
  background-color: #91c788;
  position: relative;
  left: 88%;
  bottom: 60px;
}

.delete {
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 12px;
  border-color: #91c788;
  width: 10%;
  height: 30px;
  position: relative;
  left: 85%;
  background-color: #91c788;
}

.modal {
  height: 150px;
  top: 45%;
  left: 50%;
}

.title {
  position: relative;
  top: 15%;
}

.re-modal-btn {
  position: relative;
  top: 20%;
}

.btn {
  background-color: white !important;
}

.content {
  height: 150px;
  text-align: center;
  background-color: #91c788;
}
