#password{    
	position: relative;
    left: 23%;
}
#mngNickName{
	position: relative;
    left: 30%;
}
#mngId{
	position: relative;
    left: 30%;
}
#mngName{
	position: relative;
    left: 37%;
}
#password2{
	position: relative;
    left: 5%;
}

#l1{
	position: relative;
    left: 58px;
}
#l2{
	position: relative;
    left: 44px;
}
#l3{
	position: relative;
    left: 44px;
}
#l4{
	position: relative;
    left: 32px;
}