<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
  	<typeAliases>
  		<typeAlias type="com.soomjd.soomjan.jandi.model.dto.JandiDTO" alias="JandiDTO"/>
  		<typeAlias type="com.soomjd.soomjan.member.model.dto.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.soomjd.soomjan.classRoom.model.dto.ClassDTO" alias="ClassDTO"/>
  		<typeAlias type="com.soomjd.soomjan.manager.model.dto.ManagerDTO" alias="ManagerDTO"/>
  		<typeAlias type="com.soomjd.soomjan.classRoom.model.dto.MokchaDTO" alias="MokchaDTO"/>
  		<typeAlias type="com.soomjd.soomjan.matching.model.dto.EstimateDTO" alias="EstimateDTO"/>
  		<typeAlias type="com.soomjd.soomjan.classRoom.model.dto.LearningPostDTO" alias="LearningPostDTO"/>
  		<typeAlias type="com.soomjd.soomjan.matching.model.dto.CategoryDTO" alias="CategoryDTO"/>
  		<typeAlias type="com.soomjd.soomjan.faq.model.dto.FaqDTO" alias="FaqDTO"/>
  		<typeAlias type="com.soomjd.soomjan.mypage.model.dto.MypageDTO" alias="MypageDTO"/>
    </typeAliases>
    
  </configuration>