<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	
  	<typeAliases>
  		<typeAlias type="com.soomjd.soomjan.jandi.model.dto.JandiDTO" alias="JandiDTO"/>
  		<typeAlias type="com.soomjd.soomjan.member.model.dto.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.soomjd.soomjan.classes.model.dto.ClassDTO" alias="ClassDTO"/>
    </typeAliases>
    
  </configuration>