<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.findJandi.model.dao.FindJandiMapper">
    
   <resultMap type="com.soomjd.soomjan.findJandi.model.dto.FindJandiDTO" id="jandiResultMap">
    	<id column="EMAIL" property="email"/>
    	<result column="NICKNAME" property="nickname"/>
    	<result column="PROFILE_PATH" property="profile_path"/>
    </resultMap>
    
    <select id="selectFindJandi" resultMap="jandiResultMap">
    	SELECT
		       B.RNUM
		     , B.EMAIL
		     , B.NICKNAME
		     , B.PROFILE_PATH
		  FROM 
			(SELECT 
			       ROWNUM RNUM
			     , A.EMAIL
				 , A.NICKNAME 
			     , A.PROFILE_PATH	
			FROM
				(SELECT
				       jt.EMAIL
					 , jt.NICKNAME 
					 , jt.PROFILE_PATH	
				  FROM JANDI_TBL jt
				 ORDER BY jt.NICKNAME DESC) A
			 <![CDATA[
			 WHERE ROWNUM <= #{ endRow }) B
		   WHERE RNUM >= #{ startRow }
			 ]]>	
    </select>
    
     <select id="SelectFindJandiTotalCount" resultType="_int" parameterType="HashMap">
        SELECT
		       COUNT(*)
		  FROM JANDI_TBL A
	      	  
    </select>
    
</mapper>