@charset "UTF-8";

.buytable thead {text-align: center;}
th {background-color: #91C788;}
.buytable tbody {text-align: center;}
.table-img {width: 250px; height: 100px;}
.table-img img {width: 100%;}
.table-title {font-size: 18px; font-weight: 700;}

iframe {
    display: none;
  }
  