<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.jandi.model.dao.JandiMapper">
    
    <resultMap type="com.soomjd.soomjan.jandi.model.dto.JandiDTO" id="jandiResultMap">
    	<id column="EMAIL" property="email"/>
    	<result column="NICKNAME" property="nickName"/>
    	<result column="CAREER" property="career"/>
    	<result column="INTRO" property="intro"/>
    	<result column="PROFILE_PATH" property="profile_path"/>
    	<result column="ENROLL_DATE" property="enroll_date"/>
    	<result column="ACCOUNT" property="account"/>
    	<result column="BANK" property="bank"/>
    	<result column="ACC_NAME" property="acc_name"/>
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.classRoom.model.dto.ClassDTO" id="classesResultMap">
    	<id column="CLASS_CODE" property="classCode"/>
    	<result column="CREATE_DATE" property="createDate"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="TAG" property="tag"/>
    	<result column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="EMAIL" property="email"/>
    	<result column="BOARD_TYPE" property="boardType"/>
    	<result column="VIEWS" property="views"/>
    	<result column="MAX_COUNT" property="maxCount"/>
    	<result column="TITLE" property="title"/>
    	<result column="PRICE" property="price"/>
    	<result column="FILE_PATH" property="filePath"/>
    	<result column="ORG_FILE_PATH" property="orgFilePath"/>
    	<result column="IS_DELETED" property="isDeleted"/>
    	<result column="NICKNAME" property="nickName" />
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.jandi.model.dto.FullAdDTO" id="adResultMap">
    	<id column="AD_CODE" property="adCode"/>
    	<result column="AD_CONTENTS" property="adContents"/>
    	<result column="IMG_PATH" property="imagePath"/>
    	<result column="CLASS_CODE" property="classCode"/>
    	<result column="START_DATE" property="startDate"/>
    	<result column="ORG_IMG_PATH" property="originImagePath"/>
    	<result column="IS_ADVERTISED" property="isAdvertised"/>
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.jandi.model.dto.CalculateDTO" id="calResultMap">
    	<id column="CALC_CODE" property="calCode"/>
    	<result column="FEES" property="fees"/>
    	<result column="EMAIL" property="email"/>
    	<result column="CLASS_PURC_CODE" property="classPurchaseCode"/>
    	<result column="MNG_NO" property="managerCode"/>
    	<result column="CAL_DATE" property="calDate"/>
    </resultMap>
    
    <resultMap type="com.soomjd.soomjan.jandi.model.dto.CalAdDTO" id="calAdResultMap">
    	<result column="PAY_DATE" property="payDate"/>
    	<result column="CONTENTS" property="className"/>
    	<result column="PAY" property="pay"/>
    
    </resultMap>
    
   <resultMap type="FindClassDTO" id="findClassResultMap">
    	<result column="CLASS_CODE" property="classCode"/>
    	<result column="CREATE_DATE" property="createDate"/>
    	<result column="TAG" property="tag"/>
    	<result column="TITLE" property="title"/>
    	<result column="PRICE" property="price"/>
    	<result column="FILE_PATH" property="filePath"/>
    	<result column="PROFILE_PATH" property="profilePath"/>
    	<result column="NICKNAME" property="nickName"/>
    	<result column="CATEGORY_NAME" property="categoryName"/>
    	<result column="AVGSTAR" property="avgStar"/>
    	<result column="RVCOUNT" property="rvCount"/>
    </resultMap>
    
    
    
    <select id="selectJandi" resultMap="jandiResultMap">
    	SELECT JAN.EMAIL
			 , JAN.NICKNAME
			 , JAN.CAREER
			 , JAN.INTRO
			 , JAN.PROFILE_PATH
			 , JAN.ENROLL_DATE
			 , JAN.ACCOUNT
			 , JAN.BANK
			 , JAN.ACC_NAME
		FROM JANDI_TBL JAN
	   WHERE JAN.EMAIL = #{ email }
    </select>
    
    <select id="selectClassCodeList" resultType="hashmap">
    	SELECT 
    		   CLASS_CODE
    		 , TITLE
    		 , EMAIL
    	  FROM CLASS_TBL
    	 WHERE EMAIL = #{ email }
    	   AND IS_DELETED = 'N'
    	 ORDER BY CREATE_DATE DESC
    </select>
    
    <update id="updateProfileImage">
    	UPDATE 
    	       JANDI_TBL
    	   SET PROFILE_PATH=#{savedName}
    	 WHERE EMAIL= #{email} 
    
    
    </update>

    <select id="selectCategoryList" resultType="hashmap">
    	SELECT * FROM CATEGORY_TBL
    </select>
    
    <update id="updateIntro">
    	UPDATE
    		   JANDI_TBL
    	   SET CAREER=#{intro.career},
    	       INTRO=#{intro.introduce}
    	 WHERE EMAIL=#{member.email}         
    
    
    </update>
    
    <select id="selectClassesList" resultType="String">
    	SELECT 
    		   TITLE
    	  FROM CLASS_TBL
    	 WHERE EMAIL=#{email} 		   
    </select>
    
    <select id="selectClassesCode" resultType="_int">
    	SELECT 
    	       CLASS_CODE
    	  FROM CLASS_TBL
    	 WHERE TITLE=#{myClass}      
    </select>
    
    
    
    <insert id="insertAd">
    	INSERT 
    	  INTO AD_TBL
    	(
    	  AD_CODE
    	, AD_CONTENTS
    	, IMG_PATH
    	, CLASS_CODE
    	, START_DATE
    	, ORG_IMG_PATH
    	
    	)  
    	VALUES
    	(
    	  SEQ_AD_TBL.NEXTVAL
    	, #{ adContents }
    	, #{ savedName }
    	, #{ classCode }
    	, NULL
    	, #{ originFileName }
    	  	
    	)
    	
    	
    </insert>

	<select id="selectClasses" resultMap="classesResultMap">
		SELECT 
			   CLASS_CODE
			 , CREATE_DATE
			 , CONTENTS
			 , TAG
			 , CATEGORY_CODE
			 , EMAIL
			 , BOARD_TYPE
			 , VIEWS
			 , MAX_COUNT
			 , TITLE
			 , PRICE
			 , IS_DELETED
			 , FILE_PATH
			 , ORG_FILE_PATH
		  FROM CLASS_TBL
		 WHERE EMAIL=#{ email } 	   	
	
	</select>
	
	
	<select id="selectAd" resultMap="adResultMap">
		SELECT 
		       AD_CODE
			 , AD_CONTENTS
			 , IMG_PATH
			 , CLASS_CODE
			 , START_DATE
			 , ORG_IMG_PATH
			 , IS_ADVERTISED
		  FROM AD_TBL
		 WHERE CLASS_CODE=#{ classesCode } 
	</select>
	
	
	<select id="selectcalculateList" resultMap="calResultMap">
		SELECT 
			   A.CALC_CODE
			 , A.FEES
			 , A.EMAIL
			 , A.CLASS_PURC_CODE
			 , A.MNG_NO
			 , A.CAL_DATE
		  FROM CALCULATE_TBL A
		  JOIN PURCHASE_CLASS_TBL B ON(A.EMAIL=B.EMAIL)	   
		  JOIN PAYMENT_TBL C ON(B.PAY_CODE=C.PAY_CODE)
		 WHERE C.PAY_DATE BETWEEN #{startDay} AND #{endDay}
		   AND A.EMAIL=#{ email } 
	</select>
	
	<select id="selectcalAdList" resultMap="calAdResultMap">
		SELECT
		 	   A.PAY_DATE
		 	 , D.CONTENTS
		 	 , A.PAY
		  FROM PAYMENT_TBL A
		  JOIN PURCHASE_AD_TBL B ON(A.PAY_CODE=B.PAY_CODE)
		  JOIN JANDI_TBL C ON(B.EMAIL=C.EMAIL)
		  JOIN CLASS_TBL D ON(C.EMAIL=D.EMAIL)
		 WHERE A.PAY_DATE BETWEEN #{startDay} AND #{endDay}
		   AND D.EMAIL=#{ email }  
		   	   
	
	
	
	</select>
	
	<update id="updateAdDate">
		UPDATE
			   AD_TBL
		   SET START_DATE=SYSDATE+1
		 WHERE AD_CODE=#{ adCode }  	   
	
	</update>
	
	<update id="modifyNickName">
		UPDATE JANDI_TBL
		   SET NICKNAME = #{ nickName }
		 WHERE EMAIL = #{ email }
	</update>
	
	<select id="selectThumbnailClassList" resultMap="findClassResultMap">
		 SELECT V.*
		       , ROWNUM
		 FROM (SELECT A.CLASS_CODE
				     , A.CREATE_DATE 
				     , A.TAG 
				     , A.TITLE 
				     , A.PRICE 
				     , A.FILE_PATH
				     , A.VIEWS
				     , B.PROFILE_PATH
				     , B.NICKNAME 
				     , C.CATEGORY_NAME
				     , NVL(AVG(D.STAR), 0) AVGSTAR
				     , COUNT(D.REVIEW_CODE) RVCOUNT
				  FROM CLASS_TBL A
				  JOIN JANDI_TBL B ON (A.EMAIL = B.EMAIL)
				  JOIN CATEGORY_TBL C ON (A.CATEGORY_CODE = C.CATEGORY_CODE)
				  LEFT JOIN CLASS_REVIEW_TBL D ON (A.CLASS_CODE = D.CLASS_CODE)
				 WHERE A.IS_DELETED = 'N'
				   AND A.EMAIL = #{ email }
			  GROUP BY A.CLASS_CODE , A.CREATE_DATE , A.TAG , A.TITLE , A.PRICE , A.VIEWS 
			         , A.FILE_PATH , B.PROFILE_PATH , B.NICKNAME , C.CATEGORY_NAME
			  ORDER BY A.VIEWS DESC
		     )V
		 WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	

</mapper>