<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.member.model.dao.MemberMapper">


    <resultMap id="memberResultSet" type="MemberDTO">
        <id column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PASSWORD" property="password"/>
        <result column="PHONE" property="phone"/>
        <result column="IS_JANDI" property="isJandi"/>
        <result column="WARNING" property="warning"/>
        <result column="IS_BLACK" property="isBlack"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="IS_EXIT" property="isExit"/>
        <result column="NAME" property="name"/>
    </resultMap>
    
    <insert id="insertMember" parameterType="MemberDTO">
        INSERT
		  INTO SSACK_TBL
		(
		  EMAIL
		, NICKNAME
		, PASSWORD
		, PHONE
		, IS_JANDI
		, WARNING
		, IS_BLACK
		, ENROLL_DATE
		, IS_EXIT
		, NAME
		)
		VALUES
		(
		  #{ email }
		, #{ nickName }
		, #{ password }
		, #{ phone }
		, DEFAULT
		, DEFAULT
		, DEFAULT
		, SYSDATE
		, DEFAULT
		, #{ name }
		)
    </insert>
    
    <select id="selectEncPassword" resultType="java.lang.String" parameterType="HashMap">
        SELECT
		       A.PASSWORD
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
		   AND IS_EXIT = 'N'
    </select>
    
    <select id="selectEmail" resultType="_int" parameterType="HashMap">
        SELECT 
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
           AND IS_EXIT = 'N'
    </select>
    
    <select id="selectMember" resultMap="memberResultSet" parameterType="MemberDTO">
        SELECT
		       A.EMAIL
			 , A.NICKNAME
			 , A.PHONE
			 , A.IS_JANDI
			 , A.WARNING
			 , A.IS_BLACK
			 , A.ENROLL_DATE
			 , A.IS_EXIT
			 , A.NAME
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
		   AND A.IS_EXIT = 'N'
    </select>
    
    <select id="idDupCheck" resultType="_int" parameterType="HashMap">
        SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.EMAIL= #{ email }
    </select>
    
    <select id="nickDupCheck" resultType="_int" parameterType="HashMap">
        SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.NICKNAME= #{ nickName }
    </select>
    
    <select id="findEmail" resultType="java.lang.String" parameterType="HashMap">
        SELECT
               A.EMAIL
          FROM SSACK_TBL A
         WHERE A.NAME = #{ name }
           AND A.PHONE = #{ phone }
    </select>
    
    <select id="findPwd" resultType="_int" parameterType="HashMap">
        SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.NAME= #{ name }
           AND A.EMAIL= #{ email }
    </select>
    
    <update id="updatePwd" parameterType="HashMap">
        UPDATE 
		       SSACK_TBL A
		   SET A.PASSWORD = #{ pwd }
		 WHERE A.EMAIL = #{ email }
    </update>
    
    <insert id="registJandi" parameterType="com.soomjd.soomjan.jandi.model.dto.JandiDTO">
    	INSERT INTO 
    		   JANDI_TBL J
   		   (
   		   		  J.EMAIL
   		   		, J.NICKNAME
   		   		, J.CAREER
   		   		, J.INTRO
   		   		, J.ENROLL_DATE
   		   		, J.ACCOUNT
   		   		, J.BANK
   		   		, J.ACC_NAME
		  	)
		  	VALUES(
		  		  #{ email }
		  		, #{ nickName }
		  		, #{ career }
		  		, #{ intro }
		  		, SYSDATE
		  		, #{ account }
		  		, #{ bank }
		  		, #{ acc_name }
		  	)
    </insert>
    
    <update id="modifyIsJandi">
    	UPDATE SSACK_TBL SS
    	   SET SS.IS_JANDI = 'Y'
    	 WHERE SS.EMAIL = #{ email }
    </update>
    
    <insert id="mailCheckInsert" parameterType="java.lang.String">
        INSERT
		  INTO EMAIL_CHECK_TBL 
		(
		  CHECK_CODE
		, EMAIL
		, CHECK_NUMBER
		)
		VALUES
		(
		  SEQ_MAIL_CHECK_TBL.NEXTVAL
		, NULL
		, #{ value }
		)
    </insert>
    
    <select id="numberCheck" resultType="_int">
        SELECT 
		       A.CHECK_NUMBER
		  FROM     
			  (SELECT ROWNUM RNUM
			        , CHECK_NUMBER 
			     FROM EMAIL_CHECK_TBL 
			    ORDER BY CHECK_CODE DESC) A
	 	WHERE A.RNUM = 1
    </select>
    
    <update id="checkUpdate" parameterType="HashMap">
        UPDATE EMAIL_CHECK_TBL A 
		   SET A.EMAIL = #{ email }
		 WHERE A.CHECK_NUMBER = #{ number }
    </update>
    
    <update id="mailCheckUpdate" parameterType="HashMap">
        UPDATE EMAIL_CHECK_TBL A
		   SET A.CHECK_NUMBER = #{ number }
		 WHERE A.EMAIL = #{ email }
    </update>
    
    <select id="pwdCheck" resultType="_int" parameterType="java.lang.String">
        SELECT A.CHECK_NUMBER 
		  FROM EMAIL_CHECK_TBL A
		 WHERE A.EMAIL = #{ value }
    </select>

</mapper>