<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.member.model.dao.MemberMapper">


    <resultMap id="memberResultSet" type="MemberDTO">
        <id column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PASSWORD" property="password"/>
        <result column="PHONE" property="phone"/>
        <result column="IS_JANDI" property="isJandi"/>
        <result column="WARNING" property="warning"/>
        <result column="IS_BLACK" property="isBlack"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="IS_EXIT" property="isExit"/>
        <result column="NAME" property="name"/>
        <result column="BLACK_END_DATE" property="blackEndDate"/>
    </resultMap>
    
    <!-- 회원 정보 등록하기 by 권순표 -->
    <insert id="insertMember" parameterType="MemberDTO">
        INSERT
		  INTO SSACK_TBL
		(
		  EMAIL
		, NICKNAME
		, PASSWORD
		, PHONE
		, IS_JANDI
		, WARNING
		, IS_BLACK
		, ENROLL_DATE
		, IS_EXIT
		, NAME
		)
		VALUES
		(
		  #{ email }
		, #{ nickName }
		, #{ password }
		, #{ phone }
		, DEFAULT
		, DEFAULT
		, DEFAULT
		, SYSDATE
		, DEFAULT
		, #{ name }
		)
    </insert>
    
    <!-- 암호화된 비밀번호 조회하기 by 권순표 -->
    <select id="selectEncPassword" resultType="java.lang.String" parameterType="HashMap">
        SELECT
		       A.PASSWORD
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
		   AND IS_EXIT = 'N'
    </select>
    
    <!-- 이메일의 존재 유무 확인하기 by 권순표 -->
    <select id="selectEmail" resultType="_int" parameterType="HashMap">
        SELECT 
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
           AND IS_EXIT = 'N'
    </select>
    
    <!-- 세션에 등록할 회원 정보 구해오기 by 권순표 -->
    <select id="selectMember" resultMap="memberResultSet" parameterType="MemberDTO">
        SELECT
		       A.EMAIL
			 , A.NICKNAME
			 , A.PHONE
			 , A.IS_JANDI
			 , A.WARNING
			 , A.IS_BLACK
			 , A.ENROLL_DATE
			 , A.IS_EXIT
			 , A.NAME
			 , A.BLACK_END_DATE
		  FROM SSACK_TBL A
		 WHERE A.EMAIL = #{ email }
		   AND A.IS_EXIT = 'N'
    </select>
    
    <!-- 이메일 중복 체크 by 권순표 -->
    <select id="idDupCheck" resultType="_int" parameterType="HashMap">
        SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.EMAIL= #{ email }
    </select>
    
    <!-- 닉네임 중복 체크 by 권순표 -->
    <select id="nickDupCheck" resultType="_int" parameterType="HashMap">
        SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.NICKNAME= #{ nickName }
    </select>
    
    <!-- 사용자 이메일 찾기 by 권순표 -->
    <select id="findEmail" resultType="java.lang.String" parameterType="HashMap">
        SELECT
               A.EMAIL
          FROM SSACK_TBL A
         WHERE A.NAME = #{ name }
           AND A.PHONE = #{ phone }
    </select>
    
    <!-- 사용자 비밀번호(계정) 존재 유무 확인 by 권순표 -->
    <select id="findPwd" resultType="_int" parameterType="HashMap">
        SELECT
		       COUNT(*)
		  FROM SSACK_TBL A
		 WHERE A.NAME= #{ name }
           AND A.EMAIL= #{ email }
    </select>
    
    <!-- 사용자 비밀번호 수정 by 권순표 -->
    <update id="updatePwd" parameterType="HashMap">
        UPDATE 
		       SSACK_TBL A
		   SET A.PASSWORD = #{ pwd }
		 WHERE A.EMAIL = #{ email }
    </update>
    
    <!-- 회원가입 단에서 인증번호 발송 시 인증번호 등록 by 권순표 -->
    <insert id="mailCheckInsert" parameterType="java.lang.String">
        INSERT
		  INTO EMAIL_CHECK_TBL 
		(
		  CHECK_CODE
		, EMAIL
		, CHECK_NUMBER
		)
		VALUES
		(
		  SEQ_MAIL_CHECK_TBL.NEXTVAL
		, NULL
		, #{ value }
		)
    </insert>
    
    <!-- 가장 최근에 등록된 인증번호 조회 by 권순표 -->
    <select id="numberCheck" resultType="_int">
        SELECT V2.CHECK_NUMBER
		  FROM (SELECT ROWNUM RNUM
		            ,  V.*
				  FROM (SELECT A.CHECK_NUMBER
						  FROM EMAIL_CHECK_TBL A
						 ORDER BY CHECK_CODE DESC
		               )V
		         WHERE ROWNUM = 1
		       )V2
    </select>
    
    <!-- 회원가입 시 인증번호와 묶어 사용자 이메일 등록 by 권순표 -->
    <update id="checkUpdate" parameterType="HashMap">
        UPDATE EMAIL_CHECK_TBL A 
		   SET A.EMAIL = #{ email }
		 WHERE A.CHECK_NUMBER = #{ number }
    </update>
    
    <!-- 비밀번호 찾기 단에서 인증번호 발송 시 인증번호 업데이트 by 권순표 -->
    <update id="mailCheckUpdate" parameterType="HashMap">
        UPDATE EMAIL_CHECK_TBL A
		   SET A.CHECK_NUMBER = #{ number }
		 WHERE A.EMAIL = #{ email }
    </update>
    
    <!-- 해당 이메일의 인증번호 조회 by 권순표 -->
    <select id="pwdCheck" resultType="_int" parameterType="java.lang.String">
        SELECT A.CHECK_NUMBER 
		  FROM EMAIL_CHECK_TBL A
		 WHERE A.EMAIL = #{ value }
    </select>
    
    <!-- 잔디 닉네임 중복 체크하기 by임예람 -->
   	<select id="selectJandiNickDupCheck" resultType="_int">
		SELECT COUNT(EMAIL)
		FROM JANDI_TBL
		WHERE NICKNAME = #{ nickName }
	</select>
	
	<!-- 블랙리스트 해지까지 얼마나 남았는지 조회하기 by임예람 -->
	<select id="selectBlackDDay" resultType="_double">
		SELECT BLACK_END_DATE - SYSDATE
   		  FROM SSACK_TBL
  		 WHERE EMAIL = #{ email }
	</select>
	
	<!-- 블랙리스트 해지 하기 -->
	<update id="modifyBlackStatus">
		UPDATE SSACK_TBL
		   SET IS_BLACK = 'N'
		     , WARNING = 0
		 WHERE EMAIL = #{ email }
	</update>

</mapper>