<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soomjd.soomjan.main.model.dao.MainMapper">
    
   <resultMap type="com.soomjd.soomjan.jandi.model.dto.JandiDTO" id="jandiResultMap">
    	<id column="EMAIL" property="email"/>
    	<result column="NICKNAME" property="nickName"/>
    	<result column="CAREER" property="career"/>
    	<result column="INTRO" property="intro"/>
    	<result column="PROFILE_PATH" property="profile_path"/>
    	<result column="ENROLL_DATE" property="enroll_date"/>
    	<result column="ACCOUNT" property="account"/>
    	<result column="BANK" property="bank"/>
    	<result column="ACC_NAME" property="acc_name"/>
    </resultMap>
    
    <resultMap type="ClassPurchaseDTO" id="classPurchaseResultMap">
    	<id column="EMAIL" property="email"/>
    	<result column="CLASS_CODE" property="classCode"/>
    	<result column="STATUS" property="status"/>
    	<result column="PAY_CODE" property="payCode"/>
    	<result column="CLASS_PURC_CODE" property="classPurcCode"/>
    	<result column="END_DATE" property="endDate"/>
    </resultMap>
    
     <resultMap type="com.soomjd.soomjan.classRoom.model.dto.ClassDTO" id="classResultMap">
    	<id column="CLASS_CODE" property="classCode"/>
    	<result column="CREATE_DATE" property="createDate"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="TAG" property="tag"/>
    	<result column="CATEGORY_CODE" property="categoryCode"/>
    	<result column="EMAIL" property="email"/>
    	<result column="BOARD_TYPE" property="boardType"/>
    	<result column="VIEWS" property="views"/>
    	<result column="MAX_COUNT" property="maxCount"/>
    	<result column="TITLE" property="title"/>
    	<result column="PRICE" property="price"/>
    	<result column="FILE_PATH" property="filePath"/>
    	<result column="ORG_FILE_PATH" property="orgFilePath"/>
    	<result column="AVG(CR.star)" property="avgReview"/>
         <association property="jandiDTO" resultMap="jandiResultMap"></association>
         <association property="classPurchaseDTO" resultMap="classPurchaseResultMap"></association>
    </resultMap>
    
    <resultMap id="faqResult" type="FaqDTO">
    	<id column="POST_CODE" property="postCode"/>
    	<result column="TITLE" property="title"/>
    	<result column="CONTENTS" property="contents"/>
    	<result column="WRITE_DATE" property="writeDate"/>
    	<result column="IS_DELETED" property="isDeleted"/>
    	<result column="MNG_NO" property="mngNo"/>
    </resultMap>
    
    
     <select id="mainJandi" resultMap="jandiResultMap">
    	SELECT JAN.EMAIL
			 , JAN.NICKNAME
			 , JAN.CAREER
			 , JAN.INTRO
			 , JAN.PROFILE_PATH
			 , JAN.ENROLL_DATE
			 , JAN.ACCOUNT
			 , JAN.BANK
			 , JAN.ACC_NAME
		FROM JANDI_TBL JAN
    </select>
    
      <select id="viewClass" resultMap="classResultMap">
   	SELECT 
        C.CLASS_CODE
      , C.FILE_PATH
      , C.TITLE
      , C.PRICE
      , C.VIEWS
      , J.NICKNAME
      , AVG(CR.star)
   	  FROM CLASS_TBL C 
   	  JOIN JANDI_TBL J ON (C.EMAIL = J.EMAIL) 
      LEFT JOIN (SELECT STAR
                  , CLASS_CODE
               FROM CLASS_REVIEW_TBL) CR ON (CR.CLASS_CODE = C.CLASS_CODE)
   	  WHERE C.IS_DELETED = 'N'  
      GROUP BY C.CLASS_CODE,C.FILE_PATH, C.TITLE, C.PRICE, C.VIEWS, J.NICKNAME
   	  ORDER BY C.VIEWS DESC
   </select>
   
   <select id="latestClass" resultMap="classResultMap">
   	SELECT 
        C.CLASS_CODE
      , C.FILE_PATH
      , C.TITLE
      , C.PRICE
      , C.VIEWS
      , C.CREATE_DATE
      , J.NICKNAME
      , AVG(CR.star)
   	  FROM CLASS_TBL C 
   	  JOIN JANDI_TBL J ON (C.EMAIL = J.EMAIL) 
      LEFT JOIN (SELECT STAR
                  , CLASS_CODE
               FROM CLASS_REVIEW_TBL) CR ON (CR.CLASS_CODE = C.CLASS_CODE)
   	  WHERE C.IS_DELETED = 'N'  
      GROUP BY C.CLASS_CODE, C.FILE_PATH, C.TITLE, C.PRICE, C.VIEWS, J.NICKNAME, C.CREATE_DATE
   	  ORDER BY C.CREATE_DATE DESC
   </select>
	
	<!-- 곧 마감될 강의() -->	
   <select id="almostfinish" resultMap="classResultMap">
	SELECT 
       C.MAX_COUNT
     , C.FILE_PATH
     , C.TITLE
     , C.PRICE
     , C.VIEWS
     , J.NICKNAME
     , COUNT(PT.CLASS_CODE)
     , pt.CLASS_CODE 
FROM CLASS_TBL C
JOIN PURCHASE_CLASS_TBL PT ON (PT.CLASS_CODE = C.CLASS_CODE)
JOIN JANDI_TBL J ON (C.EMAIL = J.EMAIL) 
WHERE PT.STATUS = 'Y'
GROUP BY PT.CLASS_CODE, C.MAX_COUNT, C.FILE_PATH, C.TITLE, C.PRICE, J.NICKNAME, C.VIEWS
ORDER BY C.MAX_COUNT - COUNT(PT.CLASS_CODE)
   </select>
   
   
   <!-- 평점 높은 강의 -->
   <select id="highScore" resultMap="classResultMap">
   	SELECT 
        C.CLASS_CODE
      , C.FILE_PATH
      , C.TITLE
      , C.PRICE
      , C.VIEWS
      , C.CREATE_DATE
      , J.NICKNAME
      , AVG(CR.star)
   	  FROM CLASS_TBL C 
   	  JOIN JANDI_TBL J ON (C.EMAIL = J.EMAIL) 
      LEFT JOIN (SELECT STAR
                  , CLASS_CODE
               FROM CLASS_REVIEW_TBL) CR ON (CR.CLASS_CODE = C.CLASS_CODE)
   	  WHERE C.IS_DELETED = 'N'  
      GROUP BY C.CLASS_CODE, C.FILE_PATH, C.TITLE, C.PRICE, C.VIEWS, J.NICKNAME, C.CREATE_DATE
   	  HAVING AVG(CR.star) IS NOT NULL
   	  ORDER BY AVG(CR.star) DESC
   </select>
   
   <select id="lastestFaq" resultMap="faqResult">
	   SELECT *
		FROM(
		SELECT TITLE, CONTENTS, WRITE_DATE
		FROM FAQ_TBL
		order by write_date DESC)
		WHERE ROWNUM = 1
   </select>
	

</mapper>